<div class="padded advanced">
  <div class="over">
    <div ng-if="group.groupType==='SYSTEM'"> <!-- EOD group -->
  
                <div class="no-ios_inline">
                  <md-checkbox ng-model="experiment.recordPhoneDetails">
                    Record phone details in the "Join" event</md-checkbox>
                    
                  <no-ios ng-if="experiment.recordPhoneDetails" class="align_tiptext">No iOS support for recording phone details in the "Join" event</no-ios>
                	</div><!--  ios -->
         
     </div><!--  ng if -->
  </div><!--  over -->
</div><!--  padded advanced -->
