<div ng-controller="CsvCtrl" class="csv">
  <h2>
    <a href="#">Experiments</a> &gt 
    <a href="#/experiment/{{csvExperimentId}}">{{csvExperimentId}}</a> 
    &gt; Data
  </h2>

  <div ng-if="!csv && !error">
    <span>{{status}}</span>
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <div ng-if="csv">
    <md-card>
      <md-card-content>
        <table>
          <tr ng-repeat="row in table track by $index">
            <td ng-repeat="cell in row track by $index">{{cell}}</td>
          </tr>
          <tfoot>
            <td>Showing {{table.length - 1}} out of {{table.length - 1}}</td>
          </tfoot>
        </table>
      </md-card-content>
    </md-card>
    <a ng-href="{{csvData}}" download="export.csv">Download CSV</a>
  </div>

  <div ng-if="error" class="error" ng-bind="error"></div>


</div>
