<div ng-controller="DataCtrl" class="csv data">
  <div>
    <div class="nav">
      <a href="#">
        <md-button>Experiments</md-button>
      </a>
      <img src="/img/ic_chevron_right_24px.svg">

      <a href="#/experiment/{{experimentId}}">
        <md-button aria-label="experiment name">
          <span ng-if="!experiment">{{experimentId}}</span>
          <span ng-if="experiment">{{experiment.title}}</span>
        </md-button>
      </a>
      <img src="/img/ic_chevron_right_24px.svg">
      <md-input-container class="viewSelector">
        <md-select ng-model="currentView" ng-change="switchView()" aria-label="change view">
          <md-option value="stats" aria-label="stats view">Stats</md-option>
          <md-option value="data" aria-label="data view">Data</md-option>
        </md-select>
      </md-input-container>

      <a ng-href="{{csvData}}" download="export.csv" class="download">
        <md-button>Download CSV</md-button>
      </a>
      
      <md-menu md-offset="108 4">
        <md-button aria-label="Toggle displayed columns" ng-click="$mdOpenMenu($event)">
          Columns
        </md-button>
        <md-menu-content>
          <md-menu-item ng-repeat="cell in table.header track by $index">
            <md-checkbox ng-model="showColumn[cell]">
              {{cell}}
            </md-checkbox>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

      <div ng-if="loading" class="status">
        <span>{{status}}</span>
        <md-button ng-click="loadEvents()" ng-if="loading === false && error">Reload</md-button>
        <md-progress-linear md-mode="indeterminate" ng-if="loading === true"></md-progress-linear>
      </div>
    </div>

    <div ng-if="table && table.rows.length > 0" class="frame">
      <table>
        <tr>
          <td ng-repeat="cell in table.header track by $index" ng-show="showColumn[cell]">
            <a href=""  ng-click="setColumn($index)"
            ng-class="{arrow: (sortColumn == $index), down: reverseSort }">
              {{cell}}
            </a>
          </td>
        </tr>

        <tr ng-repeat="row in table.rows | orderBy: columnSort: reverseSort">
          <td ng-repeat="cell in row track by $index" ng-show="showColumn[table.header[$index]]">{{cell}}</td>
        </tr>
        <tfoot>
          <td>Showing {{table.length - 1}} out of {{table.length - 1}}</td>
        </tfoot>
      </table>
    </div>

  <div ng-if="error" class="error">
    Error {{error.code}}: {{error.message}}
  </div>

</div>
