<div ng-controller="ExperimentCtrl" class="centered edit">
  <md-card>
    <md-card-content>
      <div class="nav padded">
        <a href="#/experiments">
          <md-button>
            Experiments
          </md-button>
        </a>
        <img src="/img/ic_chevron_right_24px.svg">
        <a href="#/experiment/{{experiment.id}}"
          ng-if="experiment.title && !newExperiment">
          <md-button>
            {{experiment.title}}
          </md-button>
        </a>
        <i ng-if="!experiment.title">
          Untitled experiment
        </i>
        <i ng-if="newExperiment">
          {{experiment.title}}
        </i>

        <div class="save">
          <md-button ng-click="saveExperiment()">
            Save Experiment
          </md-button>

          <md-button ng-click="discardChanges()">
            Discard Changes
          </md-button>
        </div>

        <div class="actions" ng-controller="ListCtrl" ng-if="!newExperiment">
          <a href="#/data/{{experiment.id}}">
            <md-button>
              Data
            </md-button>
          </a>

          <a href="#/stats/{{experiment.id}}">
            <md-button>
              Stats
            </md-button>
          </a>

          <a href="#/copy/{{experiment.id}}">
            <md-button>
              Copy
            </md-button>
          </a>

          <md-button ng-click="deleteExperiment($event, experiment)">
            Delete
          </md-button>
        </div>
      </div>

      <md-tabs md-selected="state.tabId">
        <md-tab ng-repeat="tab in tabs">
          <md-tab-label>
            {{tab}}
          </md-tab-label>
          <md-tab-body></md-tab-body>
        </md-tab>
      </md-tabs>

    </md-card-content>
  </md-card>

  <div ng-repeat="tab in tabs">
    <div ng-include="'partials/' + tab + '.html'" ng-if="state.tabId === $index">
    </div>
  </div>
</div>
