

<div class="hack"  ng-controller="HackCtrl">
<h1>Hack your data</h1>
<form name="hackform" >
  <label>
    <input type="radio" ng-model="protocolVersion" ng-checked="true" ng-value="4.0">
    Version 4.0
  </label><br/>
  <label>
    <input type="radio" ng-model="protocolVersion" ng-value="5.0">
    Version 5
  </label><br/>
  
<div class="ace_editor" ng-model="hackRequest"
      ui-ace="{
        mode: 'javascript',
        onLoad: aceReqLoaded,
        onChange: aceReqChanged,
        rendererOptions: {
          minLines: 10,
          maxLines: 10
        }
      }">
</div>
<button ng-click="submitForm(protocolVersion)">Submit</button>
</form>


<div>
{{ errorResponse }}
<div class="ace_editor" ng-model="hackResponse"
      ui-ace="{
        mode: 'javascript',
        onLoad: aceResLoaded,
        onChange: aceResChanged,
        rendererOptions: {
          minLines: 30,
          maxLines: 30
        }
      }">
</div>
</div>
</div>

