<div class="centered list" ng-controller="ListCtrl">
  <a href="#/edit/new" class="new-experiment">
    <md-button class="md-raised">
      New Experiment
    </md-button>
  </a>

  <md-tabs md-selected="listTab" md-dynamic-height md-center-tabs>

    <md-tab id="admin">
      <md-tab-label>Administered</md-tab-label>
      <md-tab-body>
        <md-progress-circular md-mode="indeterminate" ng-if="!experiments && user">
        </md-progress-circular>
        <div ng-if="experiments" class="group">
          <div ng-repeat="exp in experiments | orderBy: 'title'">
            <md-card ng-class="{deleted: exp.deleted}">
              <md-card-content class="padded">
                <a href="#/experiment/{{exp.id}}">{{exp.title}}
                </a>
                <span ng-if="exp.organization" class="organization">
                    administered by {{exp.organization}}
                  </span>
                <span class="admin">Admin</span>
              </md-card-content>
              <div class="md-actions">
                <a href="#/edit/{{exp.id}}">
                  <md-button>
                    Edit
                  </md-button>
                </a>
                <a href="#/copy/{{exp.id}}">
                  <md-button>
                    Copy
                  </md-button>
                </a>
                <md-button ng-click="deleteExperiment($event, exp)">
                  Delete
                </md-button>
                <a href="#/stats/{{exp.id}}">
                  <md-button>
                    Stats
                  </md-button>
                </a>
                <a href="#/data/{{exp.id}}">
                  <md-button>
                    View Data
                  </md-button>
                </a>
                <a href="#/data/{{exp.id}}#anon">
                  <md-button>
                    Anon Data
                  </md-button>
                </a>
                <md-button ng-click="joinExperiment($event, exp)" ng-if="joinedIndex.indexOf(exp.id) === -1">
                  Join
                </md-button>
              </div>
            </md-card>
          </div>
        </div>
      </md-tab-body>
    </md-tab>

    <md-tab id="joined">
      <md-tab-label>Joined</md-tab-label>
      <md-tab-body>
        <div ng-if="joined" class="group">
          <div ng-repeat="exp in joined | orderBy:'title'">
            <md-card>
              <md-card-content class="padded">
                <a href="#/experiment/{{exp.id}}">{{exp.title}}</a>
                <span ng-if="exp.organization" class="organization">
                  administered by {{exp.organization}}
                </span>
                <span class="participant">Participant</span>
              </md-card-content>
              <div class="md-actions">
                <a href="#/respond/{{exp.id}}">
                  <md-button>
                    Respond
                  </md-button>
                </a>
                <a href="#/data/{{exp.id}}#mine">
                  <md-button>
                    View Data
                  </md-button>
                </a>
                <a href="#/stats/{{exp.id}}#mine">
                  <md-button>
                    Stats
                  </md-button>
                </a>
              </div>
            </md-card>
          </div>
        </div>
      </md-tab-body>
    </md-tab>

    <md-tab id="joinable">
      <md-tab-label>Joinable</md-tab-label>
      <md-tab-body>
        <div ng-if="joinable" class="group">
          <div ng-repeat="exp in joinable" ng-if="joinedIndex.indexOf(exp.id) === -1">
            <md-card>
              <md-card-content class="padded">
                <a href="#/experiment/{{exp.id}}">{{exp.title}}</a>
                <span ng-if="exp.organization" class="organization">
                  administered by {{exp.organization}}
                </span>
                <md-button ng-click="joinExperiment($event, exp)" class="join">
                  Join
                </md-button>
              </md-card-content>
            </md-card>
          </div>
        </div>
      </md-tab-body>
    </md-tab>
  </md-tabs>

</div>
