<div class="centered list" ng-controller="ListCtrl">
  <a href="#/edit/new" class="new-experiment">
    <md-button class="md-raised">
      New Experiment
    </md-button>
  </a>

  <md-tabs md-selected="state.listTab" md-dynamic-height md-center-tabs>
    <md-tab id="admin">
      <md-tab-label>
        Administered
      </md-tab-label>
      <md-tab-body>
        <div ng-if="list.admin" class="group">
          <div ng-repeat="exp in list.admin">
            <md-card ng-class="{deleting: exp.deleting}">
              <md-card-content class="padded">
                <a href="#/experiment/{{exp.id}}">{{exp.title}}
                </a>
                <span ng-if="exp.organization" class="organization">
                    administered by {{exp.organization}}
                  </span>
                <span class="admin">Admin</span>
              </md-card-content>
              <div class="md-actions">
                <a href="#/edit/{{exp.id}}">
                  <md-button>
                    Edit
                  </md-button>
                </a>
                <a href="#/copy/{{exp.id}}">
                  <md-button>
                    Copy
                  </md-button>
                </a>
                <a href="">
                  <md-button ng-click="deleteExperiment($event, exp)">
                    Delete
                  </md-button>
                </a>
                <a href="#/stats/{{exp.id}}">
                  <md-button>
                    Stats
                  </md-button>
                </a>
                <a href="#/data/{{exp.id}}">
                  <md-button>
                    View Data
                  </md-button>
                </a>
                <a href="#/data/{{exp.id}}/anonymous">
                  <md-button>
                    Anon Data
                  </md-button>
                </a>
                <md-button ng-click="joinExperiment($event, exp)" 
                  ng-if="joinedIndex.indexOf(exp.id) === -1">
                  Join
                </md-button>
              </div>
            </md-card>
          </div>
        </div>

        <div ng-if="loading.admin" class="status">
          <span>Loading administered experiments</span>
          <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>

        <md-button class="show-more" ng-if="cursor.admin"
          ng-click="loadAdminList()">
          Show More
        </md-button>
      </md-tab-body>
    </md-tab>

    <md-tab id="joined">
      <md-tab-label>
        Joined
      </md-tab-label>
      <md-tab-body>
        <div ng-if="list.joined" class="group">
          <div ng-repeat="exp in list.joined">
            <md-card>
              <md-card-content class="padded">
                <a href="#/experiment/{{exp.id}}">{{exp.title}}</a>
                <span ng-if="exp.organization" class="organization">
                  administered by {{exp.organization}}
                </span>
                <span class="participant">Participant</span>
              </md-card-content>
              <div class="md-actions">
                <a href="#/respond/{{exp.id}}">
                  <md-button>
                    Respond
                  </md-button>
                </a>
                <a href="#/data/{{exp.id}}/mine">
                  <md-button>
                    View Data
                  </md-button>
                </a>
                <a href="#/stats/{{exp.id}}/mine">
                  <md-button>
                    Stats
                  </md-button>
                </a>
              </div>
            </md-card>
          </div>
        </div>

        <div ng-if="loading.joined" class="status">
          <span>Loading joined experiments</span>
          <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>

        <md-button class="show-more" ng-if="cursor.joined"
          ng-click="loadJoinedList()">
          Show More
        </md-button>
      </md-tab-body>
    </md-tab>

    <md-tab id="joinable">
      <md-tab-label>
        Invited
      </md-tab-label>
      <md-tab-body>
        <div ng-if="list.mine" class="group">
          <div ng-repeat="exp in list.mine">
            <md-card>
              <md-card-content class="padded">
                <a href="#/experiment/{{exp.id}}">{{exp.title}}</a>
                <span ng-if="exp.organization" class="organization">
                  administered by {{exp.organization}}
                </span>
                <md-button ng-click="joinExperiment($event, exp)" class="join"
                  ng-disabled="joinedIndex.indexOf(exp.id) != -1">
                  Join
                </md-button>
              </md-card-content>
            </md-card>
          </div>
        </div>

        <div ng-if="loading.mine" class="status">
          <span>Loading joinable experiments</span>
          <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>

        <md-button ng-if="cursor.mine" class="show-more"
          ng-click="loadJoinableList()">
          Show More
        </md-button>
      </md-tab-body>
    </md-tab>
  </md-tabs>

</div>

