<md-dialog aria-label="Edit Schedule" class="schedule"  layout-padding layout-margin>
  <md-dialog-content>
    <div class="column0">
      <md-input-container layout="row" flex=100> 
        <label>Schedule type</label>
        <md-select ng-model="schedule.scheduleType" placeholder="Schedule type"  flex="98">        
        <md-select-header>
            <span>Schedule type</span>
          </md-select-header>
           <md-option ng-repeat="option in scheduleTypes" ng-value="option.id">{{option.name}}</md-option>
        </md-select>
        </md-input-container>

      <div class="snooze" ng-if="schedule.scheduleType < 5">

        <md-input-container ng-if="schedule.scheduleType === 4">
          <label>Minimum minutes between</label>
          <input type="number" ng-model="schedule.minimumBuffer"
            ng-pattern="/^[0-9]*$/">
          <div ng-messages>
            <div ng-message>minutes</div>
          </div>
        </md-input-container>

        <md-input-container ng-if="schedule.snoozeCount" ng-init="schedule.snoozeTimeInMinutes = 10">
          <label>Snooze time</label>
          <input type="number" ng-model="schedule.snoozeTimeInMinutes"
            ng-pattern="/^[0-9]*$/">
        </md-input-container>

        <md-checkbox ng-model="schedule.userEditable" aria-label="User editable">
          User editable
        </md-checkbox>

        <md-checkbox ng-model="schedule.onlyEditableOnJoin" aria-label="User editable only at time of joining">
          Only editable at join
        </md-checkbox>
      </div>
    </div>

    <div class="column1" style="margin-left:16px;">
      <div ng-if="schedule.scheduleType === 0 || schedule.scheduleType === 2 || schedule.scheduleType === 3" layout="row">
        <div style="padding-top:2px;margin:16px;margin-left:0px;">Repeat every</div>
        <md-select ng-model="schedule.repeatRate" as-string style="padding-top:2px;margin-top:8px;padding-left:4px;padding-right:4px;margin-left:2px;margin-right:2px;">
          <md-option ng-selected="rate === schedule.repeatRate" ng-repeat="rate in repeatRates"
          value="{{rate}}">{{rate}}</md-option>
        </md-select>
       <div style="padding-top:2px;margin-top:16px;" ng-if="schedule.scheduleType === 0">days</div> 
        <div style="padding-top:2px;margin-top:16px;" ng-if="schedule.scheduleType === 2">weeks</div>
        <div style="padding-top:2px;margin-top:16px;" ng-if="schedule.scheduleType === 3">months</div>
      </div>

      <div ng-if="schedule.scheduleType === 3">
        <md-radio-group ng-model="schedule.byDayOfMonth" as-string>

          <div layout="row">
            <md-radio-button value="true" class="inline" style="padding-top:6px;">Day of Month</md-radio-button>
            <md-select style="max-height:24px;padding-left:8px;padding-top:0px;margin-top:0px;" ng-model="schedule.dayOfMonth" ng-if="schedule.byDayOfMonth" convert-to-number>
              <md-option ng-repeat="option in daysOfMonth" ng-value="option">{{option}}</md-option>
            </md-select>
          </div>
          <div layout="row">
            <md-radio-button value="false" class="inline" style="padding-top:6px;">Day of Week </md-radio-button>
            <!--  the bizarre ng-options expression is to turn the idx into a number and make it 1-based -->
            <md-select style="max-height:24px;padding-left:8px;padding-top:0px;margin-top:0px;" ng-model="schedule.nthOfMonth" ng-if="!schedule.byDayOfMonth" convert-to-number>   
                <md-option ng-value="idx*1 + 1" ng-repeat="(idx, choice) in weeksOfMonth">{{choice}}</md-option>           
            </md-select>
          </div>

        </md-radio-group>
      </div>

      <div ng-if="schedule.scheduleType === 2 || (schedule.scheduleType === 3 && schedule.byDayOfMonth === false)"
      class="days" layout="row">
        <div class="repeat-label">
          Repeat on
        </div>
        <md-checkbox ng-model="days[0]" aria-label="Sunday">S</md-checkbox>
        <md-checkbox ng-model="days[1]" aria-label="Monday">M</md-checkbox>
        <md-checkbox ng-model="days[2]" aria-label="Tuesday">T</md-checkbox>
        <md-checkbox ng-model="days[3]" aria-label="Wednesday">W</md-checkbox>
        <md-checkbox ng-model="days[4]" aria-label="Thursday">T</md-checkbox>
        <md-checkbox ng-model="days[5]" aria-label="Friday">F</md-checkbox>
        <md-checkbox ng-model="days[6]" aria-label="Saturday">S</md-checkbox>
      </div>

      <div ng-repeat="time in schedule.signalTimes track by $index" layout="row" class="time" 
      ng-if="schedule.scheduleType >= 0 && schedule.scheduleType <= 3">

        <md-input-container flex>
          <label>Time</label>
          <input type="time" milli ng-model="time.fixedTimeMillisFromMidnight">
        </md-input-container>

        <md-input-container flex>
          <label>Label</label>
          <input type="text" ng-model="time.label">
        </md-input-container>

        <div flex>
          <md-button add-icon ng-click="addTime(schedule.signalTimes, $index)">Time</md-button>
          <a href="" class="remove button" ng-click="remove(schedule.signalTimes, $index)"
          ng-if="schedule.signalTimes.length > 1"></a>
        </div>
        <div>

        </div>
      </div>

      <div ng-if="schedule.scheduleType === 4">
        <div layout="row">
          <md-input-container flex="30">
            <label>Signal Frequency</label>
            <input type="number" min="0" max="100" ng-model="schedule.esmFrequency"  ng-pattern="/^[0-9]*$/" flex="25">
          </md-input-container>
          
          <md-input-container flex="33">
            <label>Period</label>
            <md-select ng-model="schedule.esmPeriodInDays" class="period" as-string>
              <md-option ng-selected="$index === schedule.esmPeriodInDays" ng-repeat="period in esmPeriods"
                value="{{$index}}">{{period}}</md->
            </md-select>
          </md-input-container>
        </div>

        <div layout="row">
          <md-input-container flex>
            <label>Start Time</label>
            <input type="time" milli ng-model="schedule.esmStartHour" flex=90>
          </md-input-container>

          <md-input-container flex>
            <label>End Time</label>
            <input type="time" milli ng-model="schedule.esmEndHour">
          </md-input-container>

          
        </div>
        
        <div flex="40" class="add">
            <md-checkbox ng-model="schedule.esmWeekends" aria-label="Include weekends">
              Include weekends
            </md-checkbox>
          </div>
        
      </div>
    </div>

  </md-dialog-content>
  <div class="md-actions">
    <md-button ng-click="hide()" class="md-primary">
      Done
    </md-button>
  </div>
</md-dialog>
