<div class="sitemap">
  <div class="links" layout="row">
    <div flex>
      <a href="https://github.com/google/paco" target="_new">Github</a>
      <a href="https://github.com/google/paco/wiki" target="_new">Developer Wiki</a>
    </div>
    <div flex>
      <a href="https://twitter.com/pacoapp" target="_new">Twitter</a>
      <a href="https://plus.sandbox.google.com/+Pacoapp/posts" target="_new">Google+</a>      
    </div>
    <div flex>
      <a href="mailto:bob@pacoapp.com" target="_new">Contact</a>
      <a href="privacypolicy.html" target="_new">Privacy</a>      
    </div>
  </div>
</div>