<div ng-controller="DataCtrl" class="padded stats data">
  <div class="variable-width">
    <div class="nav">
      <a href="#">
        <md-button>Experiments</md-button>
      </a>
      <img src="/img/ic_chevron_right_24px.svg">
      <a href="#/experiment/{{experimentId}}">
        <md-button aria-label="experiment name">
          <span ng-if="!experiment">{{experimentId}}</span>
          <span ng-if="experiment">{{experiment.title}}</span>
        </md-button>
      </a>
      <img src="/img/ic_chevron_right_24px.svg">
      <md-input-container class="viewSelector">
        <md-select ng-model="currentView" ng-change="switchView()" aria-label="Change view">
          <md-option value="stats" aria-label="Stats view">Stats</md-option>
          <md-option value="data" aria-label="Data view">Data</md-option>
        </md-select>
      </md-input-container>

      <md-chips ng-if="userChips" ng-model="userChips" md-on-remove="removeUserChip()" placeholder=""></md-chips>
    </div>

    <div ng-if="loading" class="status">
      <span>{{status}}</span>
      <md-button ng-click="loadStats()" ng-if="loading === false && error">Reload</md-button>
      <md-progress-linear md-mode="indeterminate" ng-if="loading === true"></md-progress-linear>
    </div>

    <div ng-show="stats" class="frame">

      <div class="summary" ng-if="stats && experiment && experiment.published">

        <div class="stat">
          <b>{{experiment.publishedUsers.length}}</b> invited
        </div>
        <div class="stat">
          <b>{{stats.count}}</b> joined
        </div>
        <div class="stat">
         <b>{{stats.todayParticipantCount}}</b> participated today
        </div>
        <div class="stat">
          <b>{{1-(stats.todayParticipantCount/stats.count)|percent}}</b> non-responders today
        </div>
      </div>

      <table>
        <tr>
          <td right-border></td>
          <td right-border colspan=2>Today</td>
          <td colspan=2>Total</td>
        </tr>
        <tr heading>
          <td right-border>
            <span class="sorting">
              <a href="" ng-click="setColumn('who')" ng-class="{arrow: (sortColumn == 'who'), down: reverseSort }">
                who
              </a>
            </span>
          </td>
          <td>
            <span class="sorting">
              <a href="" ng-click="setColumn('todaySignalResponseCount')" class="left" ng-class="{arrow: (sortColumn == 'todaySignalResponseCount'), down: reverseSort }">Response</a> /
              <a href="" ng-click="setColumn('todaySignalCount')"  ng-class="{arrow: (sortColumn == 'todaySignalCount'), down: reverseSort }">Signal</a>
              <br>Ratio
            </span>
          </td>
          <td right-border>
            <span class="sorting">
              <a href="" ng-click="setColumn('todaySelfReportCount')" ng-class="{arrow: (sortColumn == 'todaySelfReportCount'), down: reverseSort }">Self-Report</a><br>Count
            </span>
          </td>
          <td>
            <span class="sorting">
              <a href="" ng-click="setColumn('totalSignalResponseCount')" class="left" ng-class="{arrow: (sortColumn == 'totalSignalResponseCount'), down: reverseSort }">Response</a> / 
              <a href="" ng-click="setColumn('totalSignalCount')"  ng-class="{arrow: (sortColumn == 'totalSignalCount'), down: reverseSort }">Signal</a>
              <br>Ratio
            </span>
          </td>
          <td>
            <span class="sorting">
              <a href="" ng-click="setColumn('totalSelfReportCount')" ng-class="{arrow: (sortColumn == 'totalSelfReportCount'), down: reverseSort }">Self-Report</a><br>Count
            </span>
          </td>
        </tr>
        <tr ng-repeat="row in stats.participants | orderBy: sortColumn: reverseSort">
          <td right-border>
            <a ng-if="!users" href="#/stats/{{experiment.id}}/{{row['who']}}" >{{row["who"]}}</a>
            <span ng-if="users">{{row["who"]}}</span>
          </td>
          <td>{{row["todaySignalResponseCount"]}} / {{row["todaySignalCount"]}}</td>
          <td right-border>{{row["todaySelfReportCount"]}}</td>
          <td>{{row["totalSignalResponseCount"]}} / {{row["totalSignalCount"]}}</td>
          <td>{{row["totalSelfReportCount"]}}</td>
        </tr>
         <tfoot>
            <td colspan=7>Showing {{stats.participants.length}} out of {{stats.count}}</td>
          </tfoot>
      </table>
    </div>
    <div ng-if="error" class="error">
      Error {{error.code}}: {{error.message}}
    </div>
  </div>
</div>
