<div ng-controller="StatsCtrl" class="stats data">
  <h2>
    <a href="#">Experiments</a> &gt 
    <a href="#/experiment/{{experimentId}}">{{experimentId}}</a> 
    &gt; Participant Statistics
  </h2>

  <div ng-if="!stats && !error">
    <span>{{status}}</span>
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

<div ng-if="stats" class="frame">

  <table>
    <tr>
      <td right-border></td>
      <td></td>
      <td>Today</td>
      <td right-border></td>
      <td></td>
      <td>Total</td>
      <td></td>
    </tr>
    <tr heading>
      <td right-border>Participant</td>
      <td>Signal Response
        <br>Rate</td>
      <td>Signal Response
        <br>Count</td>
      <td right-border>Self-Report
        <br>Count</td>
      <td>Signal Response
        <br>Rate</td>
      <td>Signal Response
        <br>Count</td>
      <td>Self-Report
        <br>Count</td>
    </tr>
    <tr ng-repeat="row in stats.participants">
      <td right-border>{{row["who"]}}</td>
      <td>{{row["todayResponseCount"]/row["todaySignalCount"]|percent}}</td>
      <td>{{row["todayResponseCount"]}}</td>
      <td right-border>{{row["todaySelfReportCount"]}}</td>
      <td>{{row["totalResponseCount"]/row["totalSignalCount"]|percent}}</td>
      <td>{{row["totalResponseCount"]}}</td>
      <td>{{row["totalSelfReportCount"]}}</td>
    </tr>
     <tfoot>
        <td colspan=7>Showing {{stats.participants.length}} out of {{stats.count}}</td>
      </tfoot>
  </table>
</div>


  <div ng-if="error" class="error" ng-bind="error"></div>


</div>
