<div class="datesDropDown">
  <md-select  ng-model="selectedDateTime"
              placeholder="Date/Time"
              md-on-close="getDateTime()"
              data-md-container-class="selectdemoSelectHeader"
  class="dateTimeSelect">
    <md-select-header class="demo-select-header">
      <input placeholder="Date/Time"
             class="demo-header-searchbox md-text">
    </md-select-header>
    <md-optgroup label="DateTime">
      <div class="dateRangeWidth"><md-datepicker class="datePicker" ng-model="startDate" md-placeholder="Start date"></md-datepicker>
      <md-input-container class="timePicker"><input  aria-label="startTime" ng-model="startTime" type="time" ></md-input-container></div>
      <div class="dateRangeWidth"><md-datepicker class="datePicker" ng-model="endDate" md-placeholder="End date" ></md-datepicker>
      <md-input-container class="timePicker"><input aria-label="endTime" ng-model="endTime" type="time" ></md-input-container></div>
    </md-optgroup>
  </md-select>
</div>
