<md-input-container class="participantsDropDown">
  <label class="participantsLabel">Participants</label>
  <md-select ng-model="currentVisualization.participants"
             md-on-close="toggleDrawButton(true)"
             ng-change="getParticipantsSelected()"
             data-md-container-class="selectdemoSelectHeader"
             md-selected-text="getParticipantsLength()"
             multiple>
    <md-select-header class="demo-select-header">
      <input placeholder="Participants"
             class="demo-header-searchbox md-text">
      <md-input-container class="toggleParticipantsContainer">
        <span ng-show="selectAllParticipants" class="selectAllDeselectAll"><a ng-click="selectAll()">Select All</a></span>
        <span ng-show="deSelectAllParticipants" class="selectAllDeselectAll"><a ng-click="deselectAll()">Deselect All</a></span>
      </md-input-container>
    </md-select-header>
    <md-optgroup label="participants">
      <md-option ng-repeat="participant in participants track by $index" ng-value="participant">{{participant}}
      </md-option>
    </md-optgroup>
  </md-select>
</md-input-container>