<?xml version="1.0" encoding="utf-8"?>
<!--
 ~ Copyright 2011 Google Inc. All Rights Reserved.
 ~
 ~ Licensed under the Apache License, Version 2.0 (the "License");
 ~ you may not use this file except in compliance  with the License.  
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pacoapp.paco"
    android:versionCode="163"
    android:versionName="4.2.25" xmlns:tools="http://schemas.android.com/tools">
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
   
    
    <application
        android:name="com.pacoapp.paco.PacoApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:theme="@style/AppTheme"
         >
         <meta-data
      android:name="com.google.android.awareness.API_KEY"
      android:value="AIzaSyC0N5795KEkF93Ku1VpDP44Bnwi9aHTG0U"/>
        
        <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" 
           />
        
     
        <activity android:name="com.pacoapp.paco.ui.MyExperimentsActivity" 
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        
        <activity
            android:name="com.pacoapp.paco.ui.FindExperimentsActivity"
            android:label="@string/find_public_experiments_title"
            android:configChanges="orientation|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.google.paco.experiment" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.pacoapp.paco.ui.FindMyExperimentsActivity"
            android:label="@string/title_activity_find_my_Experiments"
            android:configChanges="orientation|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.pacoapp.paco.ui.ExperimentDetailActivity"
            android:label="@string/title_activity_experiment_detail"
            android:screenOrientation="portrait" 
            android:configChanges="locale|layoutDirection" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.google.paco.experiment" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.google.paco.experiment" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="pacoapp" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.BROWSABLE" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.pacoapp.paco.ui.InformedConsentActivity"
            android:label="@string/title_activity_Informed_consent"
            android:configChanges="orientation|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait" />
        
        <activity
            android:name="com.pacoapp.paco.ui.PostJoinInstructionsActivity"
            android:label="@string/title_activity_Post_join_instructions"
            android:configChanges="orientation|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait" />
        
        
        <activity
            android:name="com.pacoapp.paco.ui.ExperimentGroupPicker"
            android:label="Pick Group to Respond"
            android:configChanges="orientation|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pacoapp.paco.ui.ExperimentExecutor"
            android:label="Experiment Form"
            android:configChanges="orientation|keyboardHidden|locale|layoutDirection"
            android:windowSoftInputMode="stateHidden" 
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="vnd.android.cursor.item/vnd.google.paco.experiment" />
            </intent-filter>           
        </activity>
                <activity
            android:name="com.pacoapp.paco.ui.ExperimentExecutorCustomRendering" 
            android:label="Experiment Form"
             android:configChanges="orientation|keyboardHidden|locale|layoutDirection"
            android:windowSoftInputMode="stateHidden" 
            android:screenOrientation="portrait" 
            />
        
        <activity
            android:name="com.pacoapp.paco.ui.FeedbackActivity"
            android:noHistory="true" 
            android:configChanges="locale|layoutDirection">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="vnd.android.cursor.item/vnd.google.paco.experiment" />
            </intent-filter>
        </activity>
        <activity android:name="com.pacoapp.paco.ui.WelcomeActivity" android:configChanges="locale|layoutDirection"/>
        <activity android:name="com.google.android.apps.paco.AccountChooser" 
            android:label="Account Chooser"
            android:configChanges="locale|layoutDirection"/>
        <activity android:name="com.pacoapp.paco.ui.SplashActivity"
            android:configChanges="locale|layoutDirection"/>
        
        <activity
            android:name="com.pacoapp.paco.ui.ESMSignalViewer"
            android:label="ESM Signal Viewer"
            android:screenOrientation="portrait" 
            android:configChanges="locale|layoutDirection">
            <intent-filter>
                <action android:name="com.google.android.apps.paco.ESM_SIGNALS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pacoapp.paco.ui.ServerConfigurationActivity"
            android:label="Paco Server Configuration" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pacoapp.paco.ui.RawDataActivity"
            android:label="Paco Raw Data Viewer" 
            android:configChanges="locale|layoutDirection">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.pacoapp.paco.ui.ContactOptionsActivity" android:configChanges="locale|layoutDirection" android:label="Contact Options"/>
        <activity android:name="com.pacoapp.paco.ui.HelpActivity" android:configChanges="locale|layoutDirection" android:label="Help"/>
        <activity android:name="com.pacoapp.paco.ui.EulaDisplayActivity" android:configChanges="locale|layoutDirection" />
        <activity android:name="com.pacoapp.paco.ui.OpenSourceLicenseListActivity" android:configChanges="locale|layoutDirection"
            android:label="Opensource" />
<!-- New UI -->
        <activity
            android:name="com.pacoapp.paco.ui.ScheduleListActivity" android:label="Experiment Schedules" android:configChanges="locale|layoutDirection">
        </activity>
         <activity android:name="com.pacoapp.paco.ui.SchedulePagerActivity"
             android:label="Experiment Schedule Details" android:configChanges="locale|layoutDirection">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ScheduleListActivity"/>
         </activity>
            
        <activity
            android:name="com.pacoapp.paco.ui.ScheduleDetailActivity"
            android:label="Schedule Details" android:configChanges="locale|layoutDirection"
            android:parentActivityName="com.pacoapp.paco.ui.ScheduleListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ScheduleListActivity" />
        </activity>
     
           <activity
            android:name="com.pacoapp.paco.ui.SettingsActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/title_activity_settings" >
        </activity>
        
         <activity
            android:name="com.pacoapp.paco.ui.PreferencesActivity"
            android:configChanges="locale|layoutDirection"
            android:label="@string/title_activity_settings" >
        </activity>
        
         <activity
            android:name="com.pacoapp.paco.ui.TroubleshootingActivity"
            android:label="@string/title_troubleshooting" >
        </activity>

           
     <!--  end new ui -->   
        <!-- services -->
        <service android:name="com.pacoapp.paco.triggering.NotificationCreatorService" >
            <intent-filter>
                <action android:name="com.google.android.apps.paco.NotificationCreatorService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name="com.pacoapp.paco.triggering.BeeperService" >
            <intent-filter>
                <action android:name="com.google.android.apps.paco.BeeperService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name="com.pacoapp.paco.os.BootupService" >
            <intent-filter>
                <action android:name="com.pacoapp.paco.os.BootupService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name=".sensors.android.AccessibilityEventMonitorService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_event_monitor_config" />
        </service>
        
        <service android:name="com.pacoapp.paco.net.SyncService" />
        <service android:name="com.pacoapp.paco.net.ServerCommunicationService" />
        <service android:name="com.pacoapp.paco.net.MyExperimentsFetchService" />
        <service android:name="com.pacoapp.paco.triggering.ExperimentExpirationManagerService" />

        <receiver android:name="com.pacoapp.paco.os.ExperimentExpirationAlarmReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.pacoapp.paco.os.ExperimentExpirationAlarmReceiver" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.pacoapp.paco.os.AlarmReceiver" >
            <intent-filter>
                <action android:name="com.google.android.apps.paco.AlarmReceiver" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.pacoapp.paco.os.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.pacoapp.paco.os.SystemChangeEventReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="com.google.android.apps.paco"
                    android:scheme="package" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.pacoapp.paco.model.EsmSignalProvider"
            android:authorities="com.google.android.apps.paco.signal"
            android:exported="false" />
        <provider
            android:name="com.pacoapp.paco.model.ExperimentProvider"
            android:authorities="com.google.android.apps.paco.ExperimentProvider"
            android:exported="false" />

        <receiver android:name="com.pacoapp.paco.sensors.android.BroadcastTriggerReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE_CHANGED" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />    
                <action android:name="com.android.music.playstatechanged" />
                <action android:name="com.pacoapp.paco.action.PACO_TRIGGER" />
                <action android:name="com.pacoapp.paco.action.PACO_EXPERIMENT_JOINED_ACTION" />
                <action android:name="com.pacoapp.paco.action.PACO_EXPERIMENT_ENDED_ACTION" />
                <action android:name="com.pacoapp.paco.action.PACO_EXPERIMENT_RESPONSE_RECEIVED_ACTION" />     
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>            
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        
          <receiver android:name="com.pacoapp.paco.net.GetInBackground$CallbackReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.pacoapp.paco.net.Callback" >
                </action>
            </intent-filter>
        </receiver>

        <service android:name="com.pacoapp.paco.sensors.android.BroadcastTriggerService" />

        <activity
            android:name="com.pacoapp.paco.ui.FindMyOrAllExperimentsChooserActivity" android:label="Find Experiments"
            >
        </activity>

        <service android:name="com.pacoapp.paco.sensors.android.procmon.ProcessService"></service>
        <service android:name="com.pacoapp.paco.sensors.android.procmon.LollipopProcessMonitorService"></service>
    </application>

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-sdk android:minSdkVersion="14"  android:targetSdkVersion="22"></uses-sdk>
</manifest>
