<?xml version="1.0" encoding="UTF-8"?>
<web-app>

<servlet>
  <servlet-name>com_google_gwt_gen2_logging_server_RemoteLoggingService</servlet-name>
  <servlet-class>com.google.gwt.gen2.logging.server.RemoteLoggingService</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>com_google_gwt_gen2_logging_server_RemoteLoggingService</servlet-name>
  <url-pattern>/pacoserver/logging</url-pattern>
</servlet-mapping>

</web-app>
