<md-dialog aria-label="Edit Action">
  <md-content>

    <div class="column0">
      <div>
        <select ng-model="action.actionCode">
          <option value="" disabled selected>Choose Action</option>
          <option ng-selected="{{$index==action.actionCode}}" ng-repeat="type in actionTypes" value="{{$index}}">{{type}}</option>
        </select>
      </div>


      <md-input-container>
        <label>Timeout</label>
        <input type="number" min=0 max=479 ng-model="action.timeout">
      </md-input-container>

      <md-input-container>
        <label>Snooze repeats</label>
        <input type="number" min=0 max=1 ng-model="action.snoozeCount">
      </md-input-container>

      <md-input-container>
        <label>Snooze time</label>
        <input type="number" ng-model="action.snoozeTimeInMinutes">
      </md-input-container>
    </div>

<!--     <div class="column1">

      <div ng-if="schedule.scheduleType==0">
        Repeat every
        <select ng-model="schedule.repeatRate">
          <option ng-selected="{{rate == schedule.repeatRate}}" ng-repeat="rate in repeatRates" value="{{rate}}">{{rate}}</option>
        </select>
        days
      </div>
    </div> -->
  </md-content>

  <div class="md-actions">
    <md-button ng-click="hide()" class="md-primary">
      Done
    </md-button>
  </div>
</md-dialog>
