<md-card>
  <md-card-content class="">

    <div layout="row" layout-margin>

      <md-input-container flex>
        <label>Creator</label>
        <input type="text" ng-model="experiment.creator" ng-disabled="true"></input>
      </md-input-container>

      <md-input-container flex>
        <label>Experiment ID</label>
        <input type="text" ng-model="experiment.id" ng-disabled="true"></input>
      </md-input-container>
    </div>

    <div layout="column" layout-margin>

      <md-input-container flex>
        <label>Administrators</label>
        <input type="text" ng-model="experiment.admins" ng-list=", "></input>
        <div ng-messages>
          <div ng-message>Enter administrator email addresses, separated by commas. Administrators
            can edit this experiment and see its results.</div>
        </div>
      </md-input-container>

      <md-input-container flex>
        <label>Published Audience</label>
        <input type="text" ng-model="experiment.publishedUsers" ng-list=", "></input>
        <div ng-messages>
          <div ng-message>Enter emails separated by commas. An empty list is publishing publicly.</div>
        </div>
      </md-input-container>

      <div flex ng-controller="AdminCtrl">

        Extra Types of Data Collection
        <div ng-repeat="(id, declare) in dataDeclarations">

          <!-- TODO(ispiro): switch to md-checkbox -->
          <label>
            <!-- <input type=checkbox ng-checked="inList(id)" value="{{id}}" ng-click="toggle(id)"> {{declare}} -->
            <input type=checkbox ng-checked="inList(id)" value="{{id}}" ng-click="toggle(id)"> {{declare}}
          </label>
        </div>
      </div>

      <md-input-container flex>
        <label>Informed Consent</label>
        <textarea ng-model="experiment.informedConsentForm"></textarea>
      </md-input-container>
    </div>

  </md-card-content>
</md-card>
