<md-card>
  <md-card-content class="">

    <div layout="row" layout-margin>
      <md-input-container flex>
        <label>Creator</label>
        <input type="text" ng-model="experiment.creator" ng-disabled="true"></input>
      </md-input-container>

      <md-input-container flex>
        <label>Contact Email</label>
        <input type="text" ng-model="experiment.contactEmail"></input>
      </md-input-container>
    </div>

    <div layout="column" layout-margin>
      <md-input-container flex>
        <label>Published Audience</label>
        <input type="text" ng-model="experiment.publishedUsers" ng-list=", "></input>
        <div ng-messages>
          <div ng-message>Enter emails separated by commas. An empty list is publishing publicly.</div>
        </div>
      </md-input-container>

      <md-input-container flex>
        <label>Informed Consent</label>
        <textarea ng-model="experiment.informedConsentForm"></textarea>
      </md-input-container>
    </div>

  </md-card-content>
</md-card>
