<md-input-container>
  <label>Title</label>
  <input ng-model="experiment.title">
</md-input-container>

<md-input-container>
  <label>Description</label>
  <textarea ng-model="experiment.description"></textarea>
</md-input-container>

<md-input-container>
  <label>Creator</label>
  <input ng-model="experiment.creator" disabled>
</md-input-container>

<md-input-container>
  <label>Id</label>
  <input ng-model="experiment.id" disabled>
</md-input-container>

<md-input-container>
  <label>Modification Date</label>
  <input ng-model="experiment.modifyDate" disabled>
</md-input-container>
