<p>Let's define some of the basics for your experiment.</p>
<md-card>
  <md-card-content>
    <h2>Experiment Listing</h2>
    
    <md-input-container>
      <label>Title</label>
      <input ng-model="experiment.title">
      <div ng-messages>
        <div ng-message>Your experiment title should be simple, specific and memorable.</div>
      </div>
    </md-input-container>

    <md-input-container>
      <label>Description</label>
      <textarea ng-model="experiment.description"></textarea>
      <div ng-messages>
        <div ng-message>Our search tools run through the title and description sections of your project,
          so be sure to incorporate any keywords here.</div>
      </div>
    </md-input-container>

    <md-input-container>
      <label>Organization</label>
      <input ng-model="experiment.organization">
      <div ng-messages>
        <div ng-message>What organization is sponsoring the experiment? This will appear on the app
          Experiment created by. If it's not sponsoered by an organization, you can
          just use your name.</div>
      </div>
    </md-input-container>

    <h2>Upload an image</h2>
    <div class="padded upload" file-dropzone="[image/png, image/jpeg, image/gif]" file="image"
    dragging="highlight" file-name="imageFileName" data-max-file-size="5">
      <div class="dropzone" ng-style="{'background-image': image}" ng-class="{highlight: highlight}"></div>
      <div class="x" ng-click="image=null" ng-show="image">x</div>
      <div class="text">
        <b>Choose an image from your computer</b>
        <br>JPEG, PNG, or GIF, 5 MB size limit
        <p>Choose an image that best represents your experiment, and your organization
          for credibility.</p>
      </div>
    </div>

  </md-card-content>
</md-card>
