<button ng-click="debug()">Debug</button>

<div ng-repeat="question in questions" ng-controller="QuestionCtrl">
  Question {{$index + 1}}
  <select class="question-type" ng-model="questionType">
    <option value="likert_smileys">likert smileys</option>
    <option value="likert">likert</option>
    <option value="open_text">open text</option>
    <option value="list">list</option>
    <option value="number">number</option>
    <option value="location">location</option>
    <option value="photo">photo</option>
  </select>
  
  <input type="text" ng-model="prompt" placeholder="Question">
  <input type="text" ng-model="label" placeholder="Question {{$index + 1}} Label">

  <button ng-click="removeQuestion($index)" ng-disabled="questions.length == 1">-</button>

  <div ng-if="questionType == 'likert'">
  	Number of steps in scale: <input type=text value='5'>
  	Left side label:  <input type=text>
  	Right side label:  <input type=text>
  </div>

  <div ng-if="questionType == 'list'" ng-model="choices">
  	<input type=checkbox ng-model="multiChoice"> Multiple Selections
  	
    <li ng-repeat="item in choices">
      Choice {{$index + 1}}
      <input type=text ng-model="item.value">
      <button ng-click="removeChoice($index)" ng-disabled="choices.length == 1">-</button>
    </li>
    <button ng-click="choices.push({})">+</button>
  </div>

  <hr>

</div>
<button ng-click="questions.push({})">+</button>