<md-dialog aria-label="Edit Cue">
  <md-content>

    <div class="column0">
      <div>
        <select ng-model="cue.cueCode">
          <option value="" disabled selected>Choose cue event</option>
          <option ng-selected="{{$index==cue.cueCode}}" ng-repeat="type in cueTypes" value={{$index}}>{{type}}</option>
        </select>
      </div>

      <md-input-container ng-if="cue.cueCode==2 || cue.cueCode==3">
        <label>Source of Paco Action</label>
        <input type="text" ng-model="cue.cueSource">
      </md-input-container>
    </div>

  </md-content>

  <div class="md-actions">
    <md-button ng-click="hide()" class="md-primary">
      Done
    </md-button>
  </div>
</md-dialog>
