<div class="groups">

  <md-button add-icon ng-click="addGroup()">
    Experiment Group
  </md-button>

  <div class="group" ng-repeat="group in experiment.groups track by $index" ng-controller="GroupCtrl">
    <div class="header" ng-if="experiment.groups.length>1">
      <md-input-container ng-if="experiment.groups.length>1">
        <label>Group {{$index+1}}</label>
        <input ng-model="group.name">
      </md-input-container>
      <a href="" ng-if="experiment.groups.length>1" class="removeGroup" ng-click="remove(experiment.groups, $index)">
      </a>
    </div>

    <md-card>
      <md-card-content expandable="{{group.actionTriggers.length>0}}">
        <div class="section" ng-click="toggleExpand()">
          <div class="title">
            <span ng-if="experiment.groups.length>1">Group {{$parent.$parent.$index+1}}</span>            
            Triggers <span class="light">({{group.actionTriggers.length}})</span>
          </div>
          <md-button add-icon ng-click="addScheduleTrigger($event, toggleExpand)"
            ng-disabled="hasScheduleTrigger">
            Scheduled Trigger
          </md-button>
          <md-button add-icon ng-click="addEventTrigger($event, toggleExpand)">
            Event Trigger
          </md-button>
        </div>
        <div expander>
          <md-divider></md-divider>
          <div class="duration section" layout="row">
            <div class="title">
              Group Duration
            </div>
            <md-radio-group ng-model="group.fixedDuration" layout="row" flex="33">
              <md-radio-button value="false">Ongoing</md-radio-button>
              <md-radio-button value="true">Fixed</md-radio-button>
            </md-radio-group>

            <md-input-container flex ng-if="group.fixedDuration=='true'">
              <label>Start</label>
              <input type="date" ng-model="group.startDate">
            </md-input-container>

            <md-input-container flex ng-if="group.fixedDuration=='true'">
              <label>End</label>
              <input type="date" ng-model="group.endDate">
            </md-input-container>

          </div>
          <div ng-repeat="trigger in group.actionTriggers track by $index" ng-include="'partials/trigger.html'">
          </div>
        </div>
      </md-card-content>

      <md-card-content expandable="{{group.inputs.length>0}}">
        <md-divider></md-divider>
        <div class="section" ng-click="toggleExpand()">
          <div class="title">
            <span ng-if="experiment.groups.length>1">Group {{$index+1}}</span> Inputs
            <span class="light">({{group.inputs.length}})</span>
          </div>
          <md-button add-icon ng-click="addInput($event, toggleExpand)">
            Input
          </md-button>
        </div>
        <div expander ng-show="group.inputs.length>0">
          <div ng-repeat="input in group.inputs track by $index" ng-include="'partials/input.html'">
          </div>
        </div>
      </md-card-content>

      <md-card-content expandable=true>
        <md-divider></md-divider>
        <div class="section" ng-click="toggleExpand()">
          <div class="title">
            <span ng-if="experiment.groups.length>1">Group {{$index+1}}</span> Advanced
          </div>
          <i>End of day, background listening, logging, custom rendering</i>
        </div>
        <div expander>
          <div ng-include="'partials/advanced.html'"></div>
        </div>
      </md-card-content>

    </md-card>
  </div>
</div>
