
<!-- <div ng-repeat="experiment in db|limitTo:5">
 --><md-card>
  <md-card-content ng-controller="ExpandCtrl" ng-class="{expand: expand}">
    <h2 ng-click="toggleExpand()">Group {{$index+1}} Scheduling</h2>
    <div class="scheduling" ng-controller="ScheduleCtrl" ng-show="expand"
    ng-include="'/partials/schedule.html'"></div>
  </md-card-content>

  <md-card-content ng-controller="ExpandCtrl" ng-class="{expand: expand}">
    <md-divider></md-divider>
    <h2 ng-click="toggleExpand()">Group {{$index+1}} Inputs</h2>
    <div  ng-controller="InputsCtrl"  ng-show="expand" 
      ng-include="'/partials/inputs.html'"></div>
  </md-card-content>
</md-card>
<!-- </div> -->