<div ng-repeat="input in group.inputs" class="input" ng-controller="InputCtrl">

  <div class="section">
    Input {{$index + 1}}
    <a class="remove-button" href="" ng-click="remove(group.inputs, $index)"></a>
    <a class="add-button" href="" ng-click="group.inputs.push({})"></a>
  </div>

  <div class="padded">
    <div class="column0">
      <select ng-model="input.responseType">
        <option value="" disabled selected>Response Type</option>
        <option ng-selected="{{type == input.responseType}}" ng-repeat="type in responseTypes"
        value="{{type}}">{{type}}</option>
      </select>

      <md-checkbox ng-model="input.mandatory" aria-label="Mandatory">
        Mandatory
      </md-checkbox>

      <md-checkbox ng-model="input.conditional" aria-label="Conditional">
        Conditional
      </md-checkbox>

      <md-checkbox ng-model="input.multiselect" aria-label="Multiple selections" ng-if="input.responseType == 'list'">
        Multiple selections
      </md-checkbox>
    </div>

    <div class="column1">
      <md-input-container>
        <label>Question for the Participant</label>
        <input ng-model="input.text" md-maxlength="60">
      </md-input-container>

      <div class="clearfix">
        <md-input-container class="medium">
          <label>Question {{$index + 1}} Label</label>
          <input ng-model="input.name">
        </md-input-container>

        <div ng-if="input.conditional">
          <md-input-container>
            <label>Condition</label>
            <input ng-model="input.conditionExpression">
          </md-input-container>
        </div>
      </div>

      <div class="likert" ng-if="input.responseType == 'likert'">
        <md-input-container class="short">
          <label>Likert Steps</label>
          <input ng-model="input.likertSteps" type="number">
        </md-input-container>

        <md-input-container class="medium">
          <label>Left Side Label</label>
          <input ng-model="input.leftSideLabel">
        </md-input-container>

        <md-input-container class="medium">
          <label>Right Side Label</label>
          <input ng-model="input.rightSideLabel">
        </md-input-container>
      </div>

      <div class="list" ng-if="input.responseType == 'list'">
        <div class="choice" ng-repeat="choice in input.listChoices track by $index">
          <md-input-container>
            <label>Choice {{$index + 1}}</label>
            <input ng-model="input.listChoices[$index]">
          </md-input-container>
          <a href="" class="remove-button" ng-click="remove(input.listChoices, $index)"></a>
        </div>

        <md-button add-icon ng-click="addChoice()">Choice</md-button>
      </div>
    </div>
  </div>
</div>
