<md-dialog aria-label="Edit Schedule">
  <md-content>

    <div class="column0">
      <div>
        <select ng-model="schedule.scheduleType">
          <option value="" disabled selected>Signal Schedule</option>
          <option ng-selected="{{$index==schedule.scheduleType}}" ng-repeat="type in scheduleTypes" value="{{$index}}">{{type}}</option>
        </select>
      </div>

      <div class="snooze" ng-if="schedule.scheduleType < 5">

        <md-input-container>
          <label>Timeout</label>
          <input type="number" min=0 max=479 ng-model="schedule.timeout">
        </md-input-container>

        <md-input-container ng-if="schedule.scheduleType == 4">
          <label>Minimum between</label>
          <input type="number" ng-model="schedule.minimumBuffer">
        </md-input-container>

        <md-input-container>
          <label>Snooze repeats</label>
          <input type="number" min=0 max=1 ng-model="schedule.snoozeCount">
        </md-input-container>

        <md-input-container>
          <label>Snooze time</label>
          <input type="number" ng-model="schedule.snoozeTimeInMinutes">
        </md-input-container>

        <md-checkbox ng-model="schedule.userEditable" aria-label="User editable">
          User editable
        </md-checkbox>

        <md-checkbox ng-model="schedule.onlyEditableOnJoin" aria-label="User editable on join">
          Editable on Join
        </md-checkbox>
      </div>
    </div>

    <div class="column1">

      <div ng-if="schedule.scheduleType==0">
        Repeat every
        <select ng-model="schedule.repeatRate">
          <option ng-selected="{{rate == schedule.repeatRate}}" ng-repeat="rate in repeatRates" value="{{rate}}">{{rate}}</option>
        </select>
        days
      </div>

      <div ng-if="schedule.scheduleType==2">
        Repeat every
        <select ng-model="schedule.repeatRate">
          <option ng-selected="{{rate == schedule.repeatRate}}" ng-repeat="rate in repeatRates" value="{{rate}}">{{rate}}</option>
        </select>
        weeks
      </div>

      <div ng-if="schedule.scheduleType==3">
        Repeat every
        <select ng-model="schedule.repeatRate">
          <option ng-selected="{{rate == schedule.repeatRate}}" ng-repeat="rate in repeatRates" value="{{rate}}">{{rate}}</option>
        </select>
        months
      </div>

      <div ng-if="schedule.scheduleType==3">
        <md-radio-group ng-model="schedule.byDayOfMonth">

          <div>
            <md-radio-button value="true" class="inline">Day of Month</md-radio-button>
            <select ng-model="schedule.dayOfMonth" ng-if="schedule.byDayOfMonth=='true'">
              <option ng-selected="{{day == schedule.dayOfMonth}}" ng-repeat="day in daysOfMonth" value="{{day}}">{{day}}</option>
            </select>
          </div>
          <div>
            <md-radio-button value="false" class="inline">Day of Week </md-radio-button>
            <select ng-init="schedule.weekOfMonth=0" ng-model="schedule.weekOfMonth" ng-if="schedule.byDayOfMonth=='false'">
              <option ng-repeat="week in weeksOfMonth" value="{{$index}}">{{week}}</option>
            </select>
          </div>

        </md-radio-group>
      </div>


      <div ng-if="schedule.scheduleType==2 || (schedule.scheduleType==3 && schedule.byDayOfMonth=='false')" class="days">
        Repeat on
        <md-checkbox ng-model="schedule.days[0]">Su</md-checkbox>
        <md-checkbox ng-model="schedule.days[1]">M</md-checkbox>
        <md-checkbox ng-model="schedule.days[2]">Tu</md-checkbox>
        <md-checkbox ng-model="schedule.days[3]">W</md-checkbox>
        <md-checkbox ng-model="schedule.days[4]">Th</md-checkbox>
        <md-checkbox ng-model="schedule.days[5]">F</md-checkbox>
        <md-checkbox ng-model="schedule.days[6]">Sa</md-checkbox>
      </div>

      <div ng-repeat="time in schedule.signalTimes" 
        ng-if="schedule.scheduleType>=0 && schedule.scheduleType<=3">

        <md-input-container class="short">
          <label>Time</label>
          <input type="time" milli ng-model="time.fixedTimeMillisFromMidnight">
        </md-input-container>

        <md-input-container class="short">
          <label>Label</label>
          <input type="text" ng-model="time.label">
        </md-input-container>

        <md-button add-icon ng-click="addTime(schedule.signalTimes, $index)">Time</md-button>

        <a href="" class="remove-button" ng-click="remove(schedule.signalTimes, $index)" ng-if="schedule.signalTimes.length > 1">
        </a>
      </div>


      <div ng-if="schedule.scheduleType==4">

        <md-input-container class="short">
          <label>Frequency</label>
          <input type="number" min="0" max="100" ng-model="schedule.esmFrequency">
        </md-input-container>

        <select ng-model="schedule.esmPeriodInDays">
          <option value="1">Day</option>
          <option value="7">Week</option>
          <option value="30">Month</option>
        </select>

        <div>
          <md-input-container class="short">
            <label>Start Time</label>
            <input type="time" milli ng-model="schedule.esmStartHour">
          </md-input-container>

          <md-input-container class="short">
            <label>End Time</label>
            <input type="time" milli ng-model="schedule.esmEndHour">
          </md-input-container>

          <md-checkbox ng-model="schedule.esmWeekends" aria-label="Include weekends">
            Include weekends
          </md-checkbox>

        </div>
      </div>
    </div>

  </md-content>
  <div class="md-actions">
    <md-button ng-click="hide()" class="md-primary">
      Done
    </md-button>
  </div>
</md-dialog>
