<div ng-controller="TriggerCtrl" class="trigger">
  <div class="header section">
    <div class="subtitle">
      <span ng-if="trigger.type=='scheduleTrigger'">Scheduled</span>
      <span ng-if="trigger.type=='interruptTrigger'">Event</span> Trigger
    </div>

    <md-button ng-if="trigger.type=='scheduleTrigger'" add-icon ng-click="addSchedule()">
      Schedule
    </md-button>

    <md-button ng-if="trigger.type=='interruptTrigger'" add-icon ng-click="addCue()">
      Cue
    </md-button>

    <md-button add-icon ng-click="addGroup()">
      Experiment Group
    </md-button>

    <md-button add-icon ng-click="addAction()">
      Action
    </md-button>

    <a class="remove-button" href="" ng-click="remove(group.actionTriggers, $index)">
    </a>
  </div>

  <div ng-repeat="schedule in trigger.schedules track by $index">
    <md-divider></md-divider>
    <div class="section">
      <div class="subtitle">
        <md-button ng-click="showSchedule($event, schedule)">
          Edit
        </md-button>
        Schedule {{$index+1}}
      </div>
      <span ng-controller="SummaryCtrl" ng-bind="getScheduleSummary()"></span>
      <a class="remove-button" ng-if="trigger.schedules.length>1" href="" ng-click="remove(trigger.schedules, $index)">
      </a>
    </div>
  </div>

  <div ng-repeat="cue in trigger.cues track by $index">
    <md-divider></md-divider>
    <div class="section">
      <div class="subtitle">
        <md-button ng-click="showCue($event, cue)">
          Edit
        </md-button>
        Cue {{$index+1}}
      </div>
      <span ng-controller="SummaryCtrl" ng-bind="getCueSummary()"></span>
      <a class="remove-button" ng-if="trigger.cues.length>1" href="" ng-click="remove(trigger.cues, $index)">
      </a>
    </div>
  </div>

  <div ng-repeat="action in trigger.actions track by $index">
    <md-divider></md-divider>
    <div class="section">
      <div class="subtitle">
        <md-button ng-click="showAction($event, action)">
          Edit
        </md-button>
        Action {{$index+1}}
      </div>
      <span ng-controller="SummaryCtrl" ng-bind="getActionSummary()"></span>
      <a class="remove-button" ng-if="trigger.actions.length>1" href="" ng-click="remove(trigger.actions, $index)"></a>
    </div>
  </div>

</div>
