local.properties
.settings
.DS_Store
*.keystore
Paco/bin/*
Paco/gen/*
PacoAndroidLib/bin/*
PacoAndroidLib/gen/*
Paco-Server/ear/reports/*
Paco-Server/ear/gwt-unitCache/*
Paco-Server/ear/default/WEB-INF/deploy/*
Paco-Server/ear/default/WEB-INF/appengine-generated/
Paco-Server/ear/default/WEB-INF/classes/*
Paco-Server/ear/reportworker/WEB-INF/classes/*
Paco-Server/ear/reportworker/WEB-INF/lib/*
Paco-Server/ear/default/WEB-INF/lib/appengine-api-1.0-sdk-1.5.0.1.jar
Paco-Server/ear/default/WEB-INF/lib/appengine-api-labs-1.5.0.1.jar
Paco-Server/ear/default/WEB-INF/lib/appengine-jsr107cache-1.5.0.1.jar
Paco-Server/ear/default/WEB-INF/lib/gwt-servlet-deps.jar
Paco-Server/ear/default/WEB-INF/lib/gwt-servlet.jar
Paco-Server/ear/pacoserver/*
Paco-Server/ear/default/pacoserver/*
Paco-Server/ear/reportworker/pacoserver/*
Paco-Server/www-test/*
PacoTest/local.properties
PacoTest/bin/*
PacoTest/testbin/*
PacoTest/gen/*
PacoTest/reports/*
ServerTools/bin/*
Shared/bin
Shared/.gwt/*
Shared/testbin
Shared/dist
Shared/reports
Paco/libs/shared.jar
Paco-Server/ear/default/WEB-INF/lib/shared.jar
Paco-Server/ear/reportworker/WEB-INF/lib/shared.jar
Paco-iOS/Paco.xcodeproj/project.xcworkspace/xcuserdata/*
Paco-iOS/Paco.xcodeproj/project.xcworkspace/xcshareddata/*
Paco-iOS/Paco.xcodeproj/xcuserdata/*
Paco-iOS/ParseKit/ParseKit.xcodeproj/xcuserdata/*
Paco-iOS/ParseKit/lib/OCMock/OCMock.xcodeproj/xcuserdata/*
