local.properties
.settings
.settings/*
.DS_Store
*.keystore
AndroidCompatSupport/v7/appcompat/bin/res/crunch
AndroidCompatSupport/v7/appcompat/bin/*
AndroidCompatSupport/v7/appcompat/gen/*
google_play_services_lib/*
Paco/bin/*
Paco/gen/*
Paco/.settings
PacoAndroidLib/bin/*
PacoAndroidLib/gen/*
Paco-Server/ear/reports/*
Paco-Server/ear/gwt-unitCache/*
Paco-Server/ear/default/WEB-INF/deploy/*
Paco-Server/ear/default/WEB-INF/appengine-generated/
Paco-Server/ear/default/WEB-INF/classes/*
Paco-Server/ear/reportworker/WEB-INF/classes/*
Paco-Server/ear/reportworker/WEB-INF/lib/*
Paco-Server/ear/mapreduce/WEB-INF/classes/*
Paco-Server/ear/mapreduce/WEB-INF/lib/*
Paco-Server/ear/default/WEB-INF/lib/appengine-api-1.0-sdk-1.5.0.1.jar
Paco-Server/ear/default/WEB-INF/lib/appengine-api-labs-1.5.0.1.jar
Paco-Server/ear/default/WEB-INF/lib/appengine-jsr107cache-1.5.0.1.jar
Paco-Server/ear/default/WEB-INF/lib/gwt-servlet-deps.jar
Paco-Server/ear/default/WEB-INF/lib/gwt-servlet.jar
Paco-Server/ear/pacoserver/*
Paco-Server/ear/default/pacoserver/*
Paco-Server/ear/reportworker/pacoserver/*
Paco-Server/www-test/*
PacoTest/local.properties
PacoTest/bin/*
PacoTest/.settings
PacoTest/testbin/*
PacoTest/gen/*
PacoTest/libs/js.jar
PacoTest/reports/*
ServerTools/bin/*
Shared/bin
Shared/.gwt/*
Shared/j2objc*
Shared/testbin
Shared/dist
Shared/reports
Paco/libs/shared.jar
Paco-Server/ear/default/WEB-INF/lib/shared.jar
Paco-Server/ear/reportworker/WEB-INF/lib/shared.jar
# Created by https://www.gitignore.io

### Xcode ###
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.xcuserstate
Paco-iOS/Paco.xcodeproj/project.xcworkspace/xcuserdata/*
Paco-iOS/Paco.xcodeproj/project.xcworkspace/xcshareddata/*
Paco-iOS/Paco.xcodeproj/xcuserdata/*
Paco-iOS/ParseKit/ParseKit.xcodeproj/xcuserdata/*
Paco-iOS/ParseKit/lib/OCMock/OCMock.xcodeproj/xcuserdata/*
Paco-iOS/ParseKit/include*

### Android Studio ###
/Android_studio/.idea/workspace.xml
/Android_studio/.gradle/*
/Android_studio/paco/paco.iml
