<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Visualizations</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/nv.d3.js"></script>
    <link href="bower_components/nvd3/nv.d3.css" rel="stylesheet" type="text/css">
    <link href="css/vizStyles.css" rel="stylesheet" type="text/css">
    <script src="visualizations/vizApp.js"></script>
    <script src="visualizations/vizController.js"></script>
    <script src="visualizations/vizDirective.js"></script>
    <script src="visualizations/vizDataFactory.js"></script>
</head>
<body ng-controller="MainController">
<h1>{{experimentDataModel.title}}</h1>

<div ng-repeat="responseType in responseTypeInfo">
    <div ng-if="(responseType.responseType == 'number')">
        <h2>{{responseType.name}}</h2>
        <p>{{responseType.text}}</p>
        <line-chart height="600px" response-info="responseTypeNumber" response-data="numberData"></line-chart>
        <p>Frequency of the {{responseType.name}} data set</p>
        <bar-chart response-info="responseTypeNumber" response-data="numberData"></bar-chart>
    </div>
    <div ng-if="(responseType.responseType == 'open text')">
        <h2>{{responseType.name}}</h2>
        <p>{{responseType.text}}</p>
        <bubble-chart response-info="responseTypeOpenText" response-data="openTextData"></bubble-chart>
    </div>
    <div ng-if="(responseType.responseType == 'likert')">
        <h2>{{responseType.name}}</h2>
        <p>{{responseType.text}}</p>
        <line-chart height="600px" response-info="responseTypeLikert" response-data="likertData">
        </line-chart>
        <p>Frequency of the {{responseType.name}} data set</p>
        <bar-chart response-info="responseTypeLikert" response-data="likertData"></bar-chart>
    </div>
    <div ng-if="(responseType.responseType == 'list')">
        <h2>Frequency of the {{responseType.name}} data set</h2>
        <p>{{responseType.text}}</p>
        <bar-chart response-info="responseTypeList" response-data="listData"></bar-chart>
    </div>

</div>
</body>
</html>