<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>creator</key>
	<string>ymggtest@gmail.com</string>
	<key>deleted</key>
	<false/>
	<key>description</key>
	<string>test</string>
	<key>feedback</key>
	<array>
		<dict>
			<key>feedbackType</key>
			<string>display</string>
			<key>id</key>
			<integer>2001</integer>
			<key>text</key>
			<string>Thanks for Participating!</string>
		</dict>
	</array>
	<key>fixedDuration</key>
	<false/>
	<key>id</key>
	<integer>999999999</integer>
	<key>informedConsentForm</key>
	<string>test</string>
	<key>inputs</key>
	<array>
		<dict>
			<key>conditional</key>
			<false/>
			<key>id</key>
			<integer>3</integer>
			<key>invisibleInput</key>
			<false/>
			<key>leftSideLabel</key>
			<string>left</string>
			<key>likertSteps</key>
			<integer>5</integer>
			<key>listChoices</key>
			<array/>
			<key>mandatory</key>
			<false/>
			<key>name</key>
			<string>hello</string>
			<key>questionType</key>
			<string>question</string>
			<key>responseType</key>
			<string>likert</string>
			<key>rightSideLabel</key>
			<string>right</string>
			<key>text</key>
			<string>hello</string>
		</dict>
	</array>
	<key>modifyDate</key>
	<string>2013/08/23</string>
	<key>published</key>
	<false/>
	<key>questionsChange</key>
	<false/>
	<key>schedule</key>
	<dict>
		<key>byDayOfMonth</key>
		<true/>
		<key>byDayOfWeek</key>
		<false/>
		<key>dayOfMonth</key>
		<integer>1</integer>
		<key>esmEndHour</key>
		<integer>61200000</integer>
		<key>esmFrequency</key>
		<integer>3</integer>
		<key>esmPeriodInDays</key>
		<integer>0</integer>
		<key>esmStartHour</key>
		<integer>32400000</integer>
		<key>esmWeekends</key>
		<false/>
		<key>id</key>
		<integer>1</integer>
		<key>nthOfMonth</key>
		<integer>1</integer>
		<key>repeatRate</key>
		<integer>1</integer>
		<key>scheduleType</key>
		<integer>0</integer>
		<key>times</key>
		<array>
			<integer>37860000</integer>
		</array>
		<key>type</key>
		<string>signalSchedule</string>
		<key>weekDaysScheduled</key>
		<integer>0</integer>
	</dict>
	<key>signalingMechanisms</key>
	<array>
		<dict>
			<key>byDayOfMonth</key>
			<true/>
			<key>byDayOfWeek</key>
			<false/>
			<key>dayOfMonth</key>
			<integer>1</integer>
			<key>esmEndHour</key>
			<integer>61200000</integer>
			<key>esmFrequency</key>
			<integer>3</integer>
			<key>esmPeriodInDays</key>
			<integer>0</integer>
			<key>esmStartHour</key>
			<integer>32400000</integer>
			<key>esmWeekends</key>
			<false/>
			<key>id</key>
			<integer>1</integer>
			<key>nthOfMonth</key>
			<integer>1</integer>
			<key>repeatRate</key>
			<integer>1</integer>
			<key>scheduleType</key>
			<integer>0</integer>
			<key>times</key>
			<array>
				<real>594000</real>
			</array>
			<key>type</key>
			<string>signalSchedule</string>
			<key>weekDaysScheduled</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>title</key>
	<string>NotificationTest-FixInterval-2</string>
	<key>version</key>
	<integer>3</integer>
	<key>webRecommended</key>
	<false/>
</dict>
</plist>
