<md-dialog aria-label="Edit Action" class="action">
  <md-dialog-content>
    <div>
      <select ng-model="action.actionCode" as-string>
        <option value="" disabled selected>Choose Action</option>
        <option ng-selected="($index + 1) === action.actionCode" ng-repeat="type in actionTypes"
        value="{{$index + 1}}">{{type}}</option>
      </select>
    </div>
    
    <md-input-container ng-if="triggerType === 'interruptTrigger'">
      <label>Delay between cue and action</label>
      <input type="number" ng-model="action.delay">
       <div ng-messages>
          <div ng-message>seconds</div>
        </div>
    </md-input-container>
  

    <div ng-if="action.actionCode < 3">
      <md-input-container>
        <label>Timeout</label>
        <input type="number" ng-model="action.timeout">
        <div ng-messages>
          <div ng-message>minutes</div>
        </div>
      </md-input-container>
      
      <md-input-container>
        <label>Snooze repeats</label>
        <input type="number" ng-model="action.snoozeCount">
      </md-input-container>

      <md-input-container ng-if="action.snoozeCount > 0">
        <label>Snooze time</label>
        <input type="number" ng-model="action.snoozeTimeInMinutes">
        <div ng-messages>
          <div ng-message>minutes</div>
        </div>
      </md-input-container>
    </div>

    <div ng-if="action.actionCode === 4" class="ace_editor" ng-model="action.customScript"
    ui-ace="{
        mode: 'javascript',
        onLoad: aceLoaded,
        rendererOptions: {
          minLines: 10,
          maxLines: 20
        }
      }">
    </div>

  </md-dialog-content>

  <div class="md-actions">
    <md-button ng-click="hide()" class="md-primary">
      Done
    </md-button>
  </div>

</md-dialog>
