<md-card ng-controller="AdminCtrl">
  <md-card-content>

    <div layout="row" layout-margin>

      <div flex class="published">
        <label>Experiment Status</label>
        <md-switch ng-model="experiment.published" aria-label="Published">
          {{experiment.published ? "Published" : "Unpublished"}}
        </md-switch>
        <div class="warning" ng-show="experiment0.published !== experiment.published">
          Save changes to {{experiment.published ? "publish" : "unpublish"}}
        </div>
      </div>

      <md-input-container flex>
        <label>Creator</label>
        <input type="text" ng-model="experiment.creator" ng-disabled="true"></input>
      </md-input-container>

      <md-input-container flex>
        <label>Experiment ID</label>
        <input type="text" ng-model="experiment.id" ng-disabled="true"></input>
      </md-input-container>
    </div>

    <div layout="column" layout-margin>

      <md-input-container flex>
        <label>Administrators</label>
        <input type="text" ng-model="experiment.admins" ng-list=", "></input>
        <div ng-messages>
          <div ng-message>Enter administrator email addresses, separated by commas. Administrators
            can edit this experiment and see its results.</div>
        </div>
      </md-input-container>

      <md-input-container flex>
        <label>Published Audience</label>
        <input type="text" ng-model="experiment.publishedUsers" ng-list=", "></input>
        <div ng-messages>
          <div ng-message>Enter emails separated by commas. An empty list is publishing publicly.</div>
        </div>
      </md-input-container>

      <div flex>
        Extra Types of Data Collection
        <div ng-repeat="(id, declare) in dataDeclarations">

          <!-- TODO(ispiro): switch to md-checkbox -->
          <label>
            <input type=checkbox ng-checked="inList(id)" value="{{id}}" 
              ng-click="toggleDeclaration(id)"> {{declare}}
          </label>
        </div>
      </div>
      
      <div flex>
        Phone details
        <div>
          <label>
            <input type=checkbox ng-model="experiment.recordPhoneDetails">
            Record phone details in the "Join" event
          </label>
        </div>
      </div>

      <md-input-container flex>
        <label>Informed Consent</label>
        <textarea ng-model="experiment.informedConsentForm"></textarea>
      </md-input-container>
    </div>

  </md-card-content>
</md-card>
