<div class="list">
  <p>
    <md-button class="md-raised" ng-click="addExperiment()">
      Create New Experiment
    </md-button>
  </p>
  <md-progress-circular md-mode="indeterminate" ng-if="!experiments && user">
  </md-progress-circular>

  Administered Experiments
  <div ng-repeat="exp in experiments">
    <md-card>
      <md-card-content class="padded">
        <a href="#/experiment/{{exp.id}}">{{exp.title}}</a>
        <div ng-if="exp.organization">
          by {{exp.organization}}
        </div>

        <span class="admin">Admin</span>
      </md-card-content>
    </md-card>
  </div>

  Joined Experiments
  <div ng-repeat="exp in joined">
    <md-card>
      <md-card-content class="padded">
        <a href="#/experiment/{{exp.id}}">{{exp.title}}</a>
        <div ng-if="exp.organization">
          by {{exp.organization}}
        </div>

        <span class="participant">Participant</span>
      </md-card-content>
    </md-card>
  </div>

</div>
