<div class="list">
  <p>
    <md-button class="md-raised" ng-click="addExperiment()">
      Create New Experiment
    </md-button>
  </p>
  <md-progress-circular md-mode="indeterminate" ng-if="!experiments && user">
  </md-progress-circular>

  <div ng-if="experiments" class="group">
    Administered Experiments
    <div ng-repeat="exp in experiments | orderBy: 'title'">
      <md-card>
        <md-card-content class="padded">
          <a href="#/experiment/{{exp.id}}">{{exp.title}}
        </a>
          <div ng-if="exp.organization">
            by {{exp.organization}}
          </div>

          <span class="admin">Admin</span>

        </md-card-content>

        <div class="md-actions">
          <a href="#/experiment/{{exp.id}}">
            <md-button>
              Edit
            </md-button>
          </a>

          <a href="participantStats?experimentId={{exp.id}}" target="_new">
            <md-button>
              Stats
            </md-button>
          </a>

          <a href="#/data/{{exp.id}}">
            <md-button>
              Data
            </md-button>
          </a>

          <a href="#/data/{{exp.id}}#anon">
            <md-button>
              Anon Data
            </md-button>
          </a>

          <a href="#"  ng-controller="EodCtrl" ng-model="exp" ng-click="showEod()">
            <md-button>
              EOD
            </md-button>
          </a>

        </div>

      </md-card>
    </div>
  </div>

  <div ng-if="joined" class="group">
    Joined Experiments
    <div ng-repeat="exp in joined">
      <md-card>
        <md-card-content class="padded">
          <a href="#/experiment/{{exp.id}}">{{exp.title}}</a>
          <div ng-if="exp.organization">
            by {{exp.organization}}
          </div>
          <span class="participant">Participant</span>
          <div class="buttons">
            <a href="events?q=%27experimentId={{exp.id}}%27" target="_new">
              <md-button>
                View Data
              </md-button>
            </a>

            <a href="participantStats?experimentId={{exp.id}}" target="_new">
              <md-button>
                Stats
              </md-button>
            </a>

            <a href="#/data/{{exp.id}}">
              <md-button>
                Data
              </md-button>
            </a>

            <a href="#"  ng-controller="EodCtrl" ng-model="exp" ng-click="showEod()">
              <md-button>
                EOD
              </md-button>
            </a>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>

</div>
