<md-toolbar class="md-tall">
  <a href="#">
    <img src="img/paco256.png" class="paco">
  </a>
  <span class="title">Paco</span>
  <span class="subtitle">The Personal Analytics Companion</span>

  <a href="{{loginURL}}" ng-if="loginURL">
    <md-button class="md-raised" id="login">
      Sign In
    </md-button>
  </a>

  <a href="{{logoutURL}}" ng-if="logoutURL&&!loginURL">
    <md-button class="md-raised" id="login">
      Sign Out
    </md-button>
  </a>

  <a href="index.jsp" class="previous">Previous Version</a>
</md-toolbar>

<div class="bg">
  <div class="main">
    <div ng-if="experimentId" ng-include="'partials/experiment.html'"></div>
    <div ng-if="!experimentId && user" ng-include="'partials/list.html'"></div>
    <div ng-if="!user && !experimentId" ng-include="'partials/home.html'"></div>
  </div>
</div>

<div class="sitemap">
  <div class="links" layout="row">
    <div flex>
      <a href="https://github.com/google/paco" target="_new">Github</a>
      <a href="https://github.com/google/paco/wiki" target="_new">Developer Wiki</a>

    </div>
    <div flex>
      <a href="https://plus.sandbox.google.com/+Pacoapp/posts" target="_new">Google+</a>
      <a href="https://twitter.com/pacoapp" target="_new">Twitter</a>
    </div>
    <div flex>
      <a href="privacypolicy.html" target="_new">Privacy</a>
      <a href="mailto:paco@pacoapp.com" target="_new">Contact</a>
    </div>
  </div>
</div>
