.advanced {
  margin-left: 210px;
}

.advanced div {
  position: relative;
}

.advanced .identifier {
  position: absolute;
  left: 240px;
  top: 4px;
  z-index: 10;
}

.advanced .identifier md-input-container {
  position: absolute;
  left: 108px;
  top: -28px;
}

.advanced .referred {
  position: absolute;
  left: 240px;
  top: 8px;
  z-index: 10;
}

.advanced textarea {
  font-family: monospace;
}