//
//  Settings.xcconfig
//  Paco
//
//  Created by northropo on 7/15/15.
//  Copyright (c) 2015 Paco. All rights reserved.


J2OBJC_HOME = $(SRCROOT)/../Shared/j2objc/j2objc
HEADER_SEARCH_PATHS = $(inherited) "${J2OBJC_HOME}/include" "${DERIVED_FILES_DIR}";
LIBRARY_SEARCH_PATHS = $(inherited) "${J2OBJC_HOME}/lib";
OTHER_LDFLAGS = $(inherited) -l"z" -l"jre_emul" -l"icucore";
