

.admin textarea {
  border: 1px solid #e5e5e5;
  font-family: monospace;
  height: 600px;
  
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.scheduling h1 {
  font-weight: 400;
  margin: 12px 0 0 0;
}

.scheduling b {
  font-weight: 400;
  text-transform: uppercase;
}

.scheduling a {
  color: #3f51b5;
  text-decoration: none;
  text-transform: uppercase;
}

.scheduling {
  background-image: url('/img/ic_access_time_48px.svg');
  background-position: 12px 18px;
  background-repeat: no-repeat;
  padding: 12px 0px 12px 72px;
}

.scheduling p {
  margin: 0;
  padding: 0;
}

.input h2 {
  background: #e0e0e0;
  font-weight: 400;
  padding: 12px;
  margin: 0;
}

.input h2 button {
  float: right;
}

.column0 {
  display: inline-block;
  width: 200px;
}

.column1 {
  display: inline-block;
  width: 500px;
  margin-right: 24px;
}

.column2 {
  display: inline-block;
  width: 200px;
}

/*
label {
  display: block;
}

label.inline {
  display: inline;
}

input[type=text] {
  width: 600px;
}

input.short {
  width: 400px;
}



.input {
  margin-left: 20px;
}

.input p {
  margin: 2px;
}

.likert input[type=text] {
  width: 60px;
}

.likert label {
  display: inline;
}

.list input[type=text] {
  width: 200px;
}*/