.admin textarea {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  font-family: monospace;
  height: 600px;
  padding: 20px;
  width: 100%;
}

.snooze label {
  display: inline-block;
  width: 20 0px;
}

.snooze input {
  width: 200px;
}

.choice {
  position: relative;
}

.choice .remove-button {
  position: absolute;
  top: 32px;
  right: -40px;
}

.input .section {
  background: #E8EAF6;
}

.section {
  font-weight: 300;
  padding: 12px;
  margin: 0;
}

.remove-button {
  background: url('../img/ic_clear_24px.svg') no-repeat;
  float: right;
  height: 24px;
  opacity: .5;
  width: 24px;
}

.add-button {
  background: url('../img/ic_add_circle_outline_24px.svg') no-repeat;
  float: right;
  height: 24px;
  margin-right: 8px;
  opacity: .5;
  width: 24px;
}

.remove-button:hover, .add-button:hover {
  opacity: 1;
}


.column0 {
  display: inline-block;
  vertical-align: top;
  width: 250px;
}

.column1 {
  display: inline-block;
  vertical-align: top;
  margin-right: 24px;
  width: 550px;
}

.short {
  width: 200px;
  display: inline-block;
}

.groups > button {
  margin: 16px;
}

.group {
  margin-top: 32px;
  position: relative;
}

.group .removeGroup {
  background: url('../img/ic_clear_24px.svg') no-repeat;
  height: 26px;
  opacity: .5;
  position: absolute;
  right: 31px;
  top: 31px;
  width: 26px;
}

.group .removeGroup:hover {
  opacity: 1;
}

.group .header > md-input-container {
  margin: 16px;
  padding-bottom: 0;
  width: 200px
}

md-card {
  background: white;
  margin: 16px;
  overflow: hidden;
}

md-card-content {
  position: relative;
}

md-card-content .end {
  margin-left: 226px;
  width: 200px;
}

md-card-content .reference {
  position: absolute;
  left: 420px;
  top: 20px;
}

md-card-content[expandable]::after {
  background: url('../img/ic_unfoldMore.svg') no-repeat;
  content: "";
  height: 24px;
  opacity: .5;
  pointer-events: none;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 24px;
}

md-card-content[expandable]:hover::after {
  opacity: 1;
}

md-card-content.expand::after  {
  background: url('../img/ic_unfoldLess.svg') no-repeat;
}

md-card md-card-content {
  padding: 0;
}

md-card .section {
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  padding: 16px;
  -webkit-user-select: none;
}

md-card .section .title {
  display: inline-block;
  width: 200px;
  height: 24px;
}

.list md-input-container input {
  width: 100%;
}

.light {
  color: #9FA8DA;
}

md-dialog ul {
  list-style: none;
  padding-left: 16px;
}

md-dialog li {
  font-style: italic;
}

