.admin textarea {
  border: 1px solid #e5e5e5;
  font-family: monospace;
  height: 600px;
  
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.scheduling h1 {
  font-weight: 400;
  margin: 12px 0 0 0;
}

.scheduling b {
  font-weight: 400;
  text-transform: uppercase;
}

.scheduling a {
  color: #3f51b5;
  text-decoration: none;
  text-transform: uppercase;
}

.scheduling p {
  margin: 0;
  padding: 0;
}

.snooze label {
  display: inline-block;
  width: 20 0px;
}

.snooze input {
  width: 200px;
}

.input h2 {
  background: #e0e0e0;
  font-weight: 300;
  padding: 12px;
  margin: 0;
}

.input h2 button {
  float: right;
  font-size: 12px;
  margin: 0;
}

.column0 {
  display: inline-block;
  width: 200px;
}

.column1 {
  display: inline-block;
  width: 500px;
  margin-right: 24px;
}

.column2 {
  display: inline-block;
  width: 200px;
}

.short {
  width: 200px;
  display: inline-block;
}

md-card {
  background: url('/img/ic_unfoldMore.svg') no-repeat;
  background-position: calc(100% - 16px) 16px;
  margin: 16px;
  overflow: hidden;
}

md-card.expand {
  background: url('/img/ic_unfoldLess.svg') no-repeat;
  background-position: calc(100% - 16px) 16px;
}

md-card h2 {
  cursor: pointer;
  margin: 16px;
  font-size: 18px;
  font-weight: 400;
  -webkit-user-select: none;
}

.scheduling .days {
  margin-bottom: 24px;
}

.scheduling .days md-checkbox {
  display: inline-block;
  height: 64px;
  position: relative;
  width: 18px;
  margin: 8px;
}

.scheduling .days md-checkbox .md-label {
  position: absolute;
  top: 36px;
  left: -12px;
}

.scheduling .inline {
  display: inline-block;
}
