

.schedule h1 {
  font-weight: 400;
  margin: 12px 0 0 0;
}

.schedule b {
  font-weight: 400;
  text-transform: uppercase;
}

.schedule a {
  color: #3f51b5;
  text-decoration: none;
  text-transform: uppercase;
}

.schedule {
  padding: 16px;
}

.schedule p {
  margin: 0;
  padding: 0;
}



.days {
  margin-bottom: 24px;
}

.days md-checkbox {
  display: inline-block;
  height: 64px;
  position: relative;
  width: 18px;
  margin: 8px;
}

.days md-checkbox .md-label {
  position: absolute;
  top: 36px;
  left: -12px;
}

.schedule .inline {
  display: inline-block;
}

.schedule .column0 {
  width: 200px;
  margin-right: 16px;
}

.schedule .column1 {
  margin-right: 0;
  width: 500px;
}

.schedule .column1 button {
  margin-top: 20px;
}

.schedule md-radio-group {
  border: none;
}

.md-actions.inline {
  border: none !important;
  bottom: 0;
  position: absolute;
  right: 0;
}

.section input[type=time] {
  border: none !important;
  color: black;
  margin-right: -28px;
}

.snooze label {
  display: inline-block;
  width: 20 0px;
}

.snooze input {
  width: 200px;
}

.action {
  min-width: 300px;
}

.action .ace_editor {
  width: 600px;
  margin-top: 16px;
  border: 1px solid lightgray;
}
