body, html {
  font-family: arial;
}

nav a {
  border: 1px solid gray;
  color: black;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 30px;
}

label {
  display: block;
}

label.inline {
  display: inline;
}

input[type=text] {
  width: 600px;
}

input.short {
  width: 400px;
}

textarea {
  font-family: monospace;
  height: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 400px;
  padding: 20px;
  box-sizing: border-box;
}

.input {
  margin-left: 20px;
}

.input p {
  margin: 2px;
}

.likert input[type=text] {
  width: 60px;
}

.likert label {
  display: inline;
}

.list input[type=text] {
  width: 200px;
}