.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  stroke: #E4002B;
  fill: none;
  stroke-width: 1.5;
  stroke: steelblue;
}

.axis text {
  font-size: 10px;
  font-family: sans-serif;
}

.text-label {
  font-size: 10px;
  font-family: sans-serif;
}

.tick line {
  opacity: 0.8;
}

.dot {
  stroke: steelblue;
  fill: #7A99AC;
}

.vizPickerSelections {
  margin-left: 25px;
}

.vizDateSelection {
  margin-right: 15px;
  width: 100px;
}

.vizCreateButton {
  margin-top: 15px;
}

.vizCreateButton .md-button.md-raised:not([disabled]) {
  color: #5c6bc0;
  font-weight: bold;
}

.filterControls {
  padding: 5px;
}

.filterControls_usersDropDown {
  margin-left: 10px;
}

layout.layout-row-vizFrequency {
  margin-left: 470px;
  margin-top: -20px;
}

.templates1, templates2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidePanel {
  height: 650px;
  width: 23%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  float: left;
}

.vizContainer {
  background-color: white;
  float: right;
  width: 100%;
  height: 650px;
  margin-bottom: 20px;
}

.vizTemplate {
  padding: 20px;
}

.md-toolbar-tools.titleToolbar {
  background-color: #d8d8d8;
}

.vizTitle {
  font-size: 16px;
  width: 1070px;
  margin-bottom: -15px;
  float: left;
}

.saveDownload {
  float: right;
  /*margin-left: 20%;*/
  margin-top: 18px;
}

.md-toolbar-tools.filterLabel {
  background-color: #d8d8d8;
  color: black;
}

.filterLabelText {
  font-size: 18px;
  color: black;
}

md-input-container.quesDropDown.md-input-has-value .md-select-value > span:not(.md-select-icon) {
  color: white;
}

div.tooltip.bars {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  color: #fff;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  font: 12px sans-serif;
  width: 200px;
  height: auto;
  word-wrap: break-word;
}

div.tooltip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  color: #fff;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  font: 12px sans-serif;
}

.vizClass {
  float: left;
}

.filterControls_date {
  padding: 5px;
  margin-left: -5px;
  margin-top: 10px;
}

.filterControls_dateLabel {
  margin-left: 10px;
  text-decoration: underline;
}

start-date-picker.filterControls.div.md-datepicker-input-container {
  margin-left: 0px;
}

.quesDropDown {
  font-size: 16px;
  color: white;
}

.dateTimeSelect {
  width: 150px;
  color: white;
}

md-select.dateTimeSelect .md-select-value.md-select-placeholder {
  color: white !important;
}

.datePicker > button {
  display: none;
}

.timePicker > input {
  width: 100px;
  font-size: 14px;
}

.dateTimePlaceholder {
  color: white;
}

.dateRangeWidth {
  width: 270px;
}

.error.viz {
  margin-top: 20px;
}

.selectdemoSelectHeader .demo-header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0;
}

.selectdemoSelectHeader .demo-select-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
}

.selectdemoSelectHeader md-content._md {
  max-height: 500px;
}

.inputsDropDown, .typesDropDown, .participantsDropDown, .datesDropDown {
  font-size: 16px;
  color: white;
}

md-input-container.inputsDropDown:not([md-no-float]) .md-select-placeholder span:first-child {
  color: white;
}

md-input-container.typesDropDown:not([md-no-float]) .md-select-placeholder span:first-child {
  color: white;
}

md-input-container.participantsDropDown:not([md-no-float]) .md-select-placeholder span:first-child {
  color: white;
}

/*datesDropDown*/
md-input-container.datesDropDown:not([md-no-float]) .md-select-placeholder span:first-child {
  color: white;
}

md-input-container.md-input-focused label.quesLabel:not(.md-no-float), md-input-container.md-input-has-placeholder label.quesLabel:not(.md-no-float), md-input-container.md-input-has-value label.quesLabel:not(.md-no-float) {
  color: white;
}

md-input-container.md-input-focused label.typesLabel:not(.md-no-float), md-input-container.md-input-has-placeholder label.typesLabel:not(.md-no-float), md-input-container.md-input-has-value label.typesLabel:not(.md-no-float) {
  color: white;
}

md-input-container.md-input-focused label.inputsLabel:not(.md-no-float), md-input-container.md-input-has-placeholder label.inputsLabel:not(.md-no-float), md-input-container.md-input-has-value label.inputsLabel:not(.md-no-float) {
  color: white;
}

md-input-container.md-input-focused label.participantsLabel:not(.md-no-float), md-input-container.md-input-has-placeholder label.participantsLabel:not(.md-no-float), md-input-container.md-input-has-value label.participantsLabel:not(.md-no-float) {
  color: white;
}

md-input-container.md-input-focused label.datesLabel:not(.md-no-float), md-input-container.md-input-has-placeholder label.datesLabel:not(.md-no-float), md-input-container.md-input-has-value label.datesLabel:not(.md-no-float) {
  color: white;
}

md-input-container.inputsDropDown.md-input-has-value .md-select-value > span:not(.md-select-icon) {
  color: white;
}

md-input-container.typesDropDown.md-input-has-value .md-select-value > span:not(.md-select-icon) {
  color: white;
}

md-input-container.quesDropDown:not([md-no-float]) .md-select-placeholder span:first-child {
  color: white;
}

md-input-container.participantsDropDown.md-input-has-value .md-select-value > span:not(.md-select-icon) {
  color: white;
}

md-input-container.datesDropDown.md-input-has-value .md-select-value > span:not(.md-select-icon) {
  color: white;
}

md-input-container.typesDropDown:not([md-no-float]) .md-select-placeholder span:first-child {
  color: white;
}

.quesSelect {
  color: white
}

.asterisk {
  color: white;
  margin-top: 19px;
}


