body,
html {
  background: #eee;
  min-width: 1024px;
}

a {
  color: #3e82f7;
  outline: none;
  text-decoration: none;
}

b {
  font-weight: 500;
}

md-card {
  overflow: hidden;
  margin: 16px 0 16px 0;
}

md-card-content {
  background: white;
  position: relative;
}

md-card md-card-content {
  padding: 0;
}

md-dialog ul {
  list-style: none;
  padding-left: 16px;
}

md-dialog li {
  font-style: italic;
}

.eod md-dialog-content {
  min-width: 600px;
  min-height: 400px;
}
.eod iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
}

.padded {
  padding: 16px;
}

.column0 {
  display: inline-block;
  vertical-align: top;
  width: 192px;
}

.column1 {
  display: inline-block;
  vertical-align: top;
  margin-right: 24px;
  width: 600px;
}

.column1 .remove-button {
  position: relative;
  top: 26px;
}

.short {
  width: 112px;
  margin-right: 16px;
  float: left;
}

.medium {
  float: left;
  margin-right: 16px;
  width: 224px;
}

.source div[ui-ace] {
  height: 600px;
}

.error {
  color: red;
  font-weight: 500;
  margin-left: 16px;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}