<?xml version='1.0' encoding='UTF-8'?>
<!--
 ~ Copyright 2011 Google Inc. All Rights Reserved.
 ~
 ~ Licensed under the Apache License, Version 2.0 (the "License");
 ~ you may not use this file except in compliance  with the License.  
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pacoapp.paco"
    android:versionCode="114"
    android:versionName="2.1.1" >
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    
    <application
        android:icon="@drawable/paco64"
        android:label="@string/app_name"
        android:theme="@style/PacoTheme" >
                
        <activity android:name="com.google.android.apps.paco.ExperimentManagerActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.google.android.apps.paco.ExperimentList" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.google.paco.experiment" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.apps.paco.FindExperimentsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.google.paco.experiment" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.apps.paco.FindMyExperimentsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.google.android.apps.paco.RunningExperimentsActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.google.paco.experiment" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.apps.paco.ExploreDataActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait"  >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.google.paco.experiment" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.apps.paco.ExperimentDetailActivity"
            android:label="Join Experiment"
            android:screenOrientation="portrait"  >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.google.paco.experiment" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.google.paco.experiment" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.apps.paco.ExperimentScheduleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.google.android.apps.paco.InformedConsentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.google.android.apps.paco.ExperimentExecutor"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="vnd.android.cursor.item/vnd.google.paco.experiment" />
            </intent-filter>           
        </activity>
                <activity
            android:name="com.google.android.apps.paco.ExperimentExecutorCustomRendering" />
        
        <activity
            android:name="com.google.android.apps.paco.FeedbackActivity"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="vnd.android.cursor.item/vnd.google.paco.experiment" />
            </intent-filter>
        </activity>
        <activity android:name="com.google.android.apps.paco.WelcomeActivity" />
        <activity android:name="com.google.android.apps.paco.AccountChooser" />
        <activity
            android:name="com.google.android.apps.paco.ESMSignalViewer"
            android:label="ESM Signal Viewer"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.google.android.apps.paco.ESM_SIGNALS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.apps.paco.ServerConfiguration"
            android:label="Paco Server Configuration" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.apps.paco.RawDataActivity"
            android:label="Paco Raw Data Viewer" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.google.android.apps.paco.ContactOptionsActivity" />
        <activity android:name="com.google.android.apps.paco.HelpActivity" />
        <activity android:name="com.google.android.apps.paco.EulaDisplayActivity" />

        <!-- services -->
        <service android:name="com.google.android.apps.paco.NotificationCreatorService" >
            <intent-filter>
                <action android:name="com.google.android.apps.paco.NotificationCreatorService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name="com.google.android.apps.paco.BeeperService" >
            <intent-filter>
                <action android:name="com.google.android.apps.paco.BeeperService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name="com.google.android.apps.paco.SyncService" />
        <service android:name="com.google.android.apps.paco.ServerCommunicationService" />

        <receiver android:name="com.google.android.apps.paco.AlarmReceiver" >
            <intent-filter>
                <action android:name="com.google.android.apps.paco.AlarmReceiver" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.apps.paco.NetworkChangeReceiver"
            android:process=":remote" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.apps.paco.SystemChangeEventReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="com.google.android.apps.paco"
                    android:scheme="package" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.google.android.apps.paco.SignalProvider"
            android:authorities="com.google.android.apps.paco.signal"
            android:exported="false" />
        <provider
            android:name="com.google.android.apps.paco.ExperimentProvider"
            android:authorities="com.google.android.apps.paco.ExperimentProvider"
            android:exported="false" />

        <receiver android:name="com.google.android.apps.paco.BroadcastTriggerReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE_CHANGED" />
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />    
                <action android:name="com.pacoapp.paco.action.PACO_TRIGGER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.apps.paco.BroadcastTriggerService" />

        <activity
            android:name="com.google.android.apps.paco.FindMyOrAllExperimentsChooserActivity"
            >
        </activity>

        <service android:name="com.google.android.apps.paco.ProcessService"></service>
    </application>

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-sdk android:minSdkVersion="8" ></uses-sdk>
</manifest>
