<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DebugApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>DemoApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PEGKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ParseKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ParseKitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ParserGenApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>libParseKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libParseKitMobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D334940F0E2963FD00406085</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D338302E171C923700CCE513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D34185030E520D3F0081B0DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D37D8DC51571A4F700CDB822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3D9753116E7F36700D55EAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3F8A3DA175817DF00056188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3FDC5820FFC4BFC00F1F797</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
