<?xml version="1.0" encoding="UTF-8"?>
<!-- ~ Copyright 2011 Google Inc. All Rights Reserved. ~ ~ Licensed under 
  the Apache License, Version 2.0 (the "License"); ~ you may not use this file 
  except in compliance with the License. ~ You may obtain a copy of the License 
  at ~ ~ http://www.apache.org/licenses/LICENSE-2.0 ~ ~ Unless required by 
  applicable law or agreed to in writing, ~ software distributed under the 
  License is distributed on an ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS 
  OF ANY ~ KIND, either express or implied. See the License for the ~ specific 
  language governing permissions and limitations ~ under the License. -->
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- Filters -->
  <filter>
    <filter-name>Authenticated Servlet Filter</filter-name>
    <filter-class>com.google.sampling.experiential.server.AuthenticatedServletFilter</filter-class>
  </filter>
  
  <!-- 
  <filter>
    <filter-name>dbQuotaFilter</filter-name>
    <filter-class>com.google.sampling.experiential.server.DBQuotaFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>dbQuotaFilter</filter-name>
    <url-pattern>/events*</url-pattern>
  </filter-mapping>

  <filter>
  <filter-name>appstats</filter-name>
  <filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>
  <init-param>
    <param-name>calculateRpcCosts</param-name>
    <param-value>true</param-value>
  </init-param>
</filter>
  <filter-mapping>
    <filter-name>appstats</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  -->

  <!-- Servlets -->
  <!--  gwt endpoints -->
  <servlet>
    <servlet-name>pacoServiceServlet</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.PacoServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pacoServiceServlet</servlet-name>
    <url-pattern>/pacoserver/maps</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.LoginServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/pacoserver/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>remoteLoggingService</servlet-name>
    <servlet-class>com.google.gwt.gen2.logging.server.RemoteLoggingService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remoteLoggingService</servlet-name>
    <url-pattern>/pacoserver/logging</url-pattern>
  </servlet-mapping>
  
  
  <!--  model & report endpoints -->
  <servlet>
    <servlet-name>eventServlet</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.EventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eventServlet</servlet-name>
    <url-pattern>/events</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>experimentServlet</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.ExperimentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>experimentServlet</servlet-name>
    <url-pattern>/experiments</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>participationStatsServlet</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.ParticipantStatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>participationStatsServlet</servlet-name>
    <url-pattern>/participantStats</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>jobStatusServlet</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.JobStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jobStatusServlet</servlet-name>
    <url-pattern>/jobStatus</url-pattern>
  </servlet-mapping>
  
  <filter-mapping>
    <filter-name>Authenticated Servlet Filter</filter-name>
    <servlet-name>SimonServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>SimonServlet</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.SimonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimonServlet</servlet-name>
    <url-pattern>/simon</url-pattern>
  </servlet-mapping>
  
  <!--  administrative and debugging endpoints -->
  <servlet>
    <servlet-name>migrationFrontendServlet</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.MigrationFrontendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>migrationFrontendServlet</servlet-name>
    <url-pattern>/migrate</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>Remote API Servlet</display-name>
    <servlet-name>RemoteApiServlet</servlet-name>
    <servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoteApiServlet</servlet-name>
    <url-pattern>/remote_api</url-pattern>
  </servlet-mapping>
  
  <!-- security constraints -->
  <!-- ensure https, authenticate as necessary using Userservice or OAuthService in get/post 
    methods -->
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/events*</url-pattern>
      <url-pattern>/experiments*</url-pattern>
      <url-pattern>/participantStats*</url-pattern>
      <url-pattern>/jobStatus*</url-pattern>
      <url-pattern>/simon*</url-pattern>      
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>


  <!-- gwt-only client endpoints use UserService with https -->
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/pacoserver/maps*</url-pattern>
      <url-pattern>/pacoserver/logging*</url-pattern>
      <url-pattern>/join*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <!-- admin only endpoints use UserService, https, and admin role -->
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/migrate*</url-pattern>
      <url-pattern>/pacoserver/migrate*</url-pattern>
      <url-pattern>/remote_api*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>

  </security-constraint>

  <!-- 
  <servlet>
    <servlet-name>appstats</servlet-name>
    <servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>appstats</servlet-name>
    <url-pattern>/appstats/*</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/appstats/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
 -->
 
</web-app>
