<?xml version="1.0" encoding="UTF-8"?>
<!-- ~ Copyright 2011 Google Inc. All Rights Reserved. ~ ~ Licensed under 
  the Apache License, Version 2.0 (the "License"); ~ you may not use this file 
  except in compliance with the License. ~ You may obtain a copy of the License 
  at ~ ~ http://www.apache.org/licenses/LICENSE-2.0 ~ ~ Unless required by 
  applicable law or agreed to in writing, ~ software distributed under the 
  License is distributed on an ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS 
  OF ANY ~ KIND, either express or implied. See the License for the ~ specific 
  language governing permissions and limitations ~ under the License. -->
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

 
  <!-- Servlets -->
  <!--  model & report endpoints -->
  <servlet>
    <servlet-name>eventServlet</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.EventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eventServlet</servlet-name>
    <url-pattern>/events</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <servlet-name>eventBlobServlet</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.EventBlobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eventBlobServlet</servlet-name>
    <url-pattern>/eventblobs</url-pattern>
  </servlet-mapping>
  
 
   <servlet>
    <servlet-name>eventBlobUrlServlet</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.EventBlobUploadUrlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eventBlobUrlServlet</servlet-name>
    <url-pattern>/eventbloburl</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServerSearchServlet</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.CloudSqlSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServerSearchServlet</servlet-name>
    <url-pattern>/csSearch</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>usageServlet</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.UsageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usageServlet</servlet-name>
    <url-pattern>/usage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ReportsFrontendServlet</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.reports.ReportsFrontEndServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportsFrontendServlet</servlet-name>
    <url-pattern>/reportsFrontend</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>participantJoinStatsServlet</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.ParticipantJoinStatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>participantJoinStatsServlet</servlet-name>
    <url-pattern>/participantJoinStats</url-pattern>
  </servlet-mapping>
  
  <!--  
 <servlet>
        <servlet-name>bshservlet</servlet-name>
        <servlet-class>bsh.servlet.BshServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bshservlet</servlet-name>
        <url-pattern>/eval</url-pattern>
    </servlet-mapping>
  -->
  
  <servlet>
    <servlet-name>experimentServlet</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.ExperimentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>experimentServlet</servlet-name>
    <url-pattern>/experiments</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>pubExperimentServlet</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.PubExperimentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pubExperimentServlet</servlet-name>
    <url-pattern>/pubexperiments</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>authServlet</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authServlet</servlet-name>
    <url-pattern>/userinfo</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>participationStatsServlet</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.ParticipantStatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>participationStatsServlet</servlet-name>
    <url-pattern>/participantStats</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>jobStatusServlet</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.JobStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jobStatusServlet</servlet-name>
    <url-pattern>/jobStatus</url-pattern>
  </servlet-mapping>
  

  
  <servlet>
    <servlet-name>AppUsageSessionServlet</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.viz.appusage.LastAppSessionChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppUsageSessionServlet</servlet-name>
    <url-pattern>/lastAppSessionChart</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PhoneSessionServlet</servlet-name>
    <servlet-class>com.google.sampling.experiential.server.viz.appusage.PhoneSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhoneSessionServlet</servlet-name>
    <url-pattern>/phoneSessions</url-pattern>
  </servlet-mapping>

<!--  
  <servlet>
    <display-name>Remote API Servlet</display-name>
    <servlet-name>RemoteApiServlet</servlet-name>
    <servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoteApiServlet</servlet-name>
    <url-pattern>/remote_api</url-pattern>
  </servlet-mapping>
  +   -->
   <servlet>
     <servlet-name>inviteCheckServlet</servlet-name>
     <servlet-class>com.google.sampling.experiential.server.invitations.InvitationCheckServlet</servlet-class>
   </servlet>
   <servlet-mapping>
     <servlet-name>inviteCheckServlet</servlet-name>
     <url-pattern>/inviteCheck</url-pattern>
   </servlet-mapping>
   <servlet>
     <servlet-name>inviteGeneratorServlet</servlet-name>
     <servlet-class>com.google.sampling.experiential.server.invitations.InvitationGeneratorServlet</servlet-class>
   </servlet>
   <servlet-mapping>
     <servlet-name>inviteGeneratorServlet</servlet-name>
     <url-pattern>/inviteGenerator</url-pattern>
   </servlet-mapping>
   <servlet>
     <servlet-name>invitedParticipantEventsServlet</servlet-name>
     <servlet-class>com.google.sampling.experiential.server.invitations.InvitationParticipantServlet</servlet-class>
   </servlet>
   <servlet-mapping>
     <servlet-name>invitedParticipantEventsServlet</servlet-name>
     <url-pattern>/invitedParticipantEvents</url-pattern>
   </servlet-mapping>
  <!--
    <servlet>
    <servlet-name>PipelineServlet</servlet-name>
    <servlet-class>
      com.google.appengine.tools.pipeline.impl.servlets.PipelineServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PipelineServlet</servlet-name>
    <url-pattern>/_ah/pipeline/*</url-pattern>
  </servlet-mapping>
 
   <servlet>
    <servlet-name>mapreduce</servlet-name>
    <servlet-class>
      com.google.appengine.tools.mapreduce.MapReduceServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mapreduce</servlet-name>
    <url-pattern>/mapreduce/*</url-pattern>
  </servlet-mapping>
  
  -->
  <!-- security constraints -->
  <!-- ensure https, authenticate as necessary using Userservice or OAuthService in get/post 
    methods -->
    
  <security-constraint>
    <web-resource-collection>       
      <url-pattern>/*</url-pattern>      
      <url-pattern>/event*</url-pattern>
      <url-pattern>/experiments*</url-pattern>
      <url-pattern>/participantStats*</url-pattern>
      <url-pattern>/jobStatus*</url-pattern>
      <url-pattern>/usage*</url-pattern>
      <url-pattern>/csSearch</url-pattern>
      <url-pattern>/lastAppSessionChart</url-pattern> 
      <url-pattern>/phoneSessions</url-pattern>    
      <url-pattern>/invitedParticipantEvents</url-pattern>
      <url-pattern>/inviteGenerator</url-pattern>      
    </web-resource-collection>
<!--    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint> 
-->
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

<!--  list of other servlets -->
  <security-constraint>
    <web-resource-collection>       
      <url-pattern>/inviteCheck</url-pattern>
      <url-pattern>/index.html</url-pattern>      
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>


  <!-- gwt-only client endpoints use UserService with https -->
  <!-- admin only endpoints use UserService, https, and admin role -->
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/remote_api*</url-pattern>
      <url-pattern>/eval*</url-pattern>
      <url-pattern>/participantJoinStats*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  
 
</web-app>
