.data {
  margin: 16px;
}

.data .frame {
  max-width: 100%;
  overflow: scroll;
  padding-bottom: 3px;
  padding-right: 3px;
}

.data h2 {
  font-size: 18px;
  font-weight: 400;
}

.data table {
  background: white;
  border-collapse: collapse;
  border-radius: 2px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  font-size: 13px;
}

.data table tr {
  border-bottom: 1px solid #e3e3e3;
  height: 48px;
}

.data table tr[heading] td {
  font-weight: 500;
}

.data table tr:first-of-type {
  color: rgba(0, 0, 0, .54);
  font-size: 12px;
}
.data table tr:first-of-type td {
  text-align: center;
}

.data table td {
  padding: 0 56px 0 24px;
  text-align: center ;
  white-space: nowrap;
}

.data table td[right-border] {
  border-right: 1px solid #e3e3e3;
}

.data table td:first-of-type {
  text-align: left;
}

.data md-card {
  overflow-x: scroll;
}
