.data .frame {
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: auto;
  padding-bottom: 3px;
  padding-right: 3px;
}

.data .nav {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}

.data .nav img {
  vertical-align: middle;
}

.data button {
  margin-right: 0;
}

.data table {
  background: white;
  border-collapse: collapse;
  border-radius: 2px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  font-size: 13px;
  position: relative;
}

.data .summary {
  background: #d8d8d8;
  margin-bottom: 20px;
  padding: 40px;
  text-align: center;
}

.data .summary .stat {
  background: #eee;
  box-sizing: border-box;
  display: inline-block;
  font-size: 12px;
  margin: 5px;
  padding: 20px;
  padding-bottom: 60px;
  position: relative;
  text-align: center;
  width: 160px;
}

.data .summary .stat:before {
  background-color: #ddd;
  content: '';
  -webkit-mask-image: url('/img/ic_email_24px.svg');
  -webkit-mask-position: 50% 90px;
  -webkit-mask-repeat: no-repeat;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.data .summary .stat b {
  color: red;
  display: block;
  font-size: 28px;
}

/* The menu is placed outside of the data DOM node so it's
 * necessary to target this without a .data selector  */
md-menu-item {
  border-top: 1px solid #eee;
  padding-left: 16px;
}

.data table tr {
  border-bottom: 1px solid #e3e3e3;
  height: 48px;
}

.data table thead {
  border-bottom: 1px solid #e3e3e3;
  display: block;
  height: 48px;
}

.data table tbody {
  display: block;
}

.data table tbody tr:nth-of-type(1) a {
  position: absolute;
  top: 16px;
}

.data table tbody tr:nth-of-type(2) a {
  display: block;
  height: 0px;
  overflow: hidden;
}

.data table tbody tr:nth-of-type(1),
.data table tbody tr:nth-of-type(2) {
  border-bottom: none;
  height: 0px;
}

.data table tbody {
  display: block;
  max-height: calc(100vh - 304px);
  overflow: scroll;

}

.data table td {
  padding: 0 24px 0 24px;
  text-align: left ;
  white-space: nowrap;
}

.data table td a {
  position: relative;
}

.data table td .arrow:after {
  content: '\2191';
  position: absolute;
  margin-left: 10px;
}

.data table td .down.arrow:after {
  content: '\2193';
  position: absolute;
}

.data table td[right-border] {
  border-right: 1px solid #e3e3e3;
}

.data table tfoot td {
  text-align: left;
}

.data .variable-width {
  display: inline-block;
  text-align: left;
}

.data .status {
  margin: 16px 8px;
}

.data {
  text-align: center;
}