.bar{
    fill: steelblue;
}

.bar:hover{
    fill: brown;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    stroke: #E4002B;
    fill: none;
    stroke-width: 3;
    stroke:steelblue;
}

.axis text {
    font-size: 10px;
    font-family: sans-serif;
}

.text-label {
    font-size: 10px;
    font-family: sans-serif;
}

.dot {
    stroke: #293b47;
    fill: #7A99AC
}
svg{
    width:inherit;
    height:auto
}
